[2014-06-03 17:55] mebjas opened #3 "make POST requests validation, complement rules based"
Currently we validate every POST request while only those GET requests which matches rules given in config file. for better performance we can do complement rules for POST, by keeping rules for those url patterns for which we want to disable POST validation.

[2014-06-04 09:05] mebjas opened #4 "Should cookie should be refreshed for every request"
Currently the cookies are refreshed for each request that is sent.
Otherwise if we keep token constant until it expires,  there is risk of token exposure, in a long run and it can later be used for CSRF attacks.

There are problems involved with refreshing cookies for every request as well, on the client side we need to update tokens added to entities like forms, xhr objects etc as soon as cookie

[2014-06-05 19:13] mebjas opened #5 "What to do in case token expires"
csrf token has an expiry time. let us assume its 5 minutes. And after loading a page, user did spend 5 minutes somewhere else before making another request.

Now when user makes a request, say he submits a form, the js code fetches the token from cookie before submitting the form. So what need to be done in this case?

Possible solutions:
1. issue a quick xhr request to request for token refresh
2

[2014-06-17 15:43] #4 closed, assigned to nobody

[2014-06-24 10:50] mebjas opened #10 "Test js code compatiblity with opera"
Need to test csrfprotector js code for compatibility with **opera**

Update: https://github.com/mebjas/mod_csrfprotector/blob/master/js/README.md and https://github.com/mebjas/CSRF-Protector-PHP/blob/master/js/README.md accordingly

[2014-06-28 21:17] mebjas opened #11 "Support for activeX (for IE v <= 6)"
Currently `AJAX` support is for `XmlHttpRequest` only. need to extend support for `activeX` used in IE 6 or below

[2014-06-28 21:56] #10 closed, assigned to nobody

[2014-07-09 13:10] mebjas opened #13 "database based session implementation for csrfp"
As suggested by Abbas, move session implementation to db method, rather than default session in php.
- faster
- secure

[2014-07-09 13:11] mebjas opened #14 "csrf protection for nojs"
we need to support browsers which do not support javascript, or have javascript disabled.

[2014-07-11 12:21] #14 closed, assigned to nobody

[2014-07-11 19:34] #11 closed, assigned to nobody

[2014-08-12 11:14] abiusx opened #15 "PHP Library Issues"
- [x] config file existence is checked, instead existence of config parameters should be checked (maybe file is there but is not filled out?)
- [x] one-liner ifs dont need blocks.
- [x] only string comparisons require 3 ===, all other comparisons typically need ==
- [ ] Its better to use an instance of class (not mandatory) instead of static. Maybe someone uses multiple protectors with different r

[2014-08-13 05:57] abiusx opened #16 "Recipes"
Add a few configuration examples that are tested and shown to work with Wordpress, Joomla and similar apps. This makes it much easier for users to adapt.

[2014-08-14 06:19] mebjas opened #17 "multiple request issue"
Currently token is generated per request,  and JS ensures that latest token is attached with each originating request.

But in a case where, first request (`R1` with token `T1`) is generated and sent to server and another one (`R2` with token `T1`) is generated just after it. when R1 is processed token T1 will be consumed and a token T2 will be generated and request R2 will fail!

[2014-08-15 04:53] mebjas opened #18 "add link/doc of the design documents in this repo"

[2014-08-16 05:56] #18 closed, assigned to nobody

[2014-08-18 21:24] #17 closed, assigned to nobody

[2015-01-27 16:34] chdeliens commented on #5
Isn't it insecure to have CSRFProtector disabled for the "get me a new token" XHR call?
Why not having a (expirationTime - 30") timer making an XHR call w/ the current CSRF token to get a new token? But then we'd have to handle "multiple valid tokens", in case the person has multiple tabs open to the same server... Just a thought!

[2015-01-27 17:03] chdeliens commented on #5
"to get a new token" --> that would be done via cookie+session, not by returning the data directly. So that when the user actually wants to submit his form, the usual process is run (fetch token from cookie, attach to request, post).

[2015-01-27 17:13] mebjas commented on #5
Well thats a good idea, to issue a xhr call to refresh the token few seconds before expiry. But then we need a page that handles such requests without doing any other processing. One of the way would be to issue a xhr to same page (currently open) with some special request parameter, such that backend just issue a token and terminates the connection.
And for multiple open tabs, the cookie is a glo

[2015-01-28 09:51] chdeliens commented on #5
Indeed, that's what a thought of: issuing a XHR call to the same w/ special params. But then, we have to assume that the ::init() call is made soon enough to avoid any processing on the page. A cleaner integration would be to have a special page dedicated to this purpose of regenerating a token.

Regarding the token expiry time, I'm not sure I get it right. Are you afraid that the expiration time

[2015-01-28 11:31] mebjas commented on #5
Yeah thats a concern. But for this library to work properly its needed that `::init()` is called before any other calls. So that the library can validate the request before any processing occur & set on output buffering.
and considering the idea to have a dedicated page dealing with token regeneration, we'd need to pass {the url information of that script} to javascript for which we'd need the abs

[2015-01-28 18:00] abiusx commented on #5
I think the simplest and best working solution would be to have a longer expiration time. I think something in the order of a few hours is generally good.
As for multiple valid tokens, session based tokens only allow one tab to be active at a time.

[2015-01-28 18:58] mebjas commented on #5
But should we not have a solution for that corner case too? lets say tab was open for hours and cookie expires?
Also, here its not purely session based we are validating cookies against session variables, so multiple tabs are possible, unless both request are triggered together but handled at different times.

[2015-01-28 18:59] abiusx commented on #5
Well then there’s no problem. Any form is considered lost after several hours of inactivity. All program developers have to employ background ajax refreshment to keep those forms alive.

[2015-01-28 19:00] mebjas commented on #5
Ok so we just leave it to developer?

[2015-01-28 19:05] abiusx commented on #5
yes. to add a lot of code and complexity for a very rare corner case would ruin the library, not help it. You can create a cookbook for the developers to use in these cases, but adding that to the main codebase is not very wise.

[2015-01-28 19:06] mebjas commented on #5
totally agree!

[2015-02-05 18:24] SautdeChat opened #19 "AJAX requests are denied when using FormData Objects"
When submitting FormData objects via ajax, the data forwarded becomes:
[object FormData]&{{tokenName}}={{tokenValue}}
The protector considers this a fail and throws a 403.
To remedy this I have changed new_send() to this:

	function new_send(data) {
		if (this.method.toLowerCase() === 'post') {

			if (data !== null && typeof data === 'object') {
				data.append(CSRFP.CSRFP_TOKEN, CSRFP._getAuthKe

[2015-02-06 07:18] mebjas commented on #19
@SautdeChat: thanks for pointing this out!, would you want to fork and send a pull for this? or should I implement it!

[2015-02-06 11:04] SautdeChat commented on #19
@mebjas: You are welcome. And done.
I sent one for each branch, not sure if that is right/necessary with git. But they are there.

[2015-02-06 11:33] mebjas commented on #19
Corresponding changes made to js base script!
https://github.com/mebjas/CSRF-Protector-PHP/commit/9bda571d7bac211f805d81b4f4067df39366ea08

[2015-02-06 11:33] #19 closed

[2015-02-06 11:43] mebjas commented on #5
#todo: Create a wiki page, mentioning this case and suggesting possible actions to developers!

[2015-08-19 10:46] mithilesh12 opened #28 "Tokens mismatched with Internet Explorer"
CSRF Protector is working with Firefox, Chrome but it is not working with Internet Explorer (IE). I tested with IE8, IE10, IE11.

I observed that csrf_token posted ($_POST) by browser is correct. But csrf_token of session stored on previous request has been changed automatically (without changing by refresh etc.). and that is why tokens have been mismatched.

I observed that time gap between two c

[2015-08-20 00:27] mebjas commented on #28
Hi I tested the code again on IE 11 it worked fine. But I see the problem is little different here.
Theoretically with per request token there should be a problem with multiple simultaneous requests sent with small gap. This is because:
lets say **request1** was sent before **request2** and **request2** was sent before **request1** was responded to. In this case, the `request1` and `request2` will

[2015-08-20 11:37] mebjas commented on #28
@mithilesh12 is the problem same as I think it is?

[2015-08-20 11:55] mithilesh12 commented on #28
I explored the problem toward your first response, i get the issue is the submitting a HTML form multiple times on single submit click in Internet Explorer. Can you suggest me that how to prevent the re-submitting a form in Internet Explorer in same request? I have used twitter bootstrap.

[2015-08-20 12:35] mebjas commented on #28
well that can be done:
as soon as you click on submit button, attach an event listener on the button at that point that it disables action on that button
It'd look like:
[code]

#**BUT**
I think a server side implementation / modification of CSRF Protector will solve this problem as well. Give me a night time, I'll implement it.

[2015-08-20 12:44] mithilesh12 commented on #28
I hope so. Thank you.

[2015-08-20 19:22] mebjas commented on #28
Try this: https://github.com/mebjas/CSRF-Protector-PHP/tree/simultaneous-tokens

[2015-08-20 19:23] mebjas commented on #28
infact the changes were made to `libs/csrf/csrfprotector.php` only. So just changing this file in your test setup should do:  https://raw.githubusercontent.com/mebjas/CSRF-Protector-PHP/simultaneous-tokens/libs/csrf/csrfprotector.php

[2015-08-21 08:48] mithilesh12 commented on #28
Thank you!
Will I have to change the code used from the below link?
https://gist.github.com/mebjas/332718be6cbf2a26f8a2

// CODE
var formObj = document.getElementById('form-loaded-via-ajax');
// ^^ Use any form of method to get the DOM object here

formObj.addEventListener("submit", function(event) {
    if (typeof event.target[CSRFP.CSRFP_TOKEN] === 'undefined') {
        event.target.appendChild

[2015-08-21 08:57] mebjas commented on #28
No this will remain same, the code just picks latest token from cookies and
send it with a form submit request

----------------------------------------------------------------------------
Kind Regards,
Minhaz | My Projects <http://cistoner.org/projects> | M
<http://cistoner.org/minhaz/>y blog <http://blog.minhazav.me/>

On Fri, Aug 21, 2015 at 2:18 PM, mithilesh12 <notifications@github.com>
wrote

[2015-08-21 09:06] mithilesh12 commented on #28
Thank you. Now it works for me on Internet Explorer, great work.

[2015-09-01 22:33] iguanaman opened #29 "Ajax submit not always sending correct token"
Great library but I'm having an issue where ajax submits of a form are only working on alternate attempts.  For example;

1st submit: No csrfp token sent, fails
2nd submit: Csrfp token sent, works
3rd submit: Same csrfp token as previous submit sent, fails
4th submit: Different csftp token sent, works

[code]

[2015-09-02 00:49] mebjas commented on #29
Use the modified model, https://github.com/mebjas/CSRF-Protector-PHP/tree/simultaneous-tokens. This should solve issue 3rd submit issue.

Now for the 1st submit, if the token is not being sent, it means the script hasn't loaded, which should not happen. I'll try your script for 1st submit issue, while you check and tell if this one solves 3rd submit issue.

[2015-09-02 00:49] mebjas commented on #28
Closing the issue!

[2015-09-02 00:49] #28 closed

[2015-09-02 07:36] iguanaman commented on #29
If it helps, the hidden input gets dynamically created at the same time the first ajax submits.  So, the script seems to be loaded.  Perhaps adding the hidden input occurs after the data for the form is serialized.

[2015-09-02 09:11] iguanaman commented on #29
Unfortunately the modified model didn't solve my issue.  The 3rd, 5th, 7th and all further odd number requests fail due to sending the same token as the previous even request (which worked).

On a positive note I was able to fix the issue by adding the following code
[code]

So just before the send I force add the value from the cookies.

This to me confirms what I suspected above, the token isn't

[2015-09-03 03:43] mebjas commented on #29
can you tell me methods to reproduce the bug, coz I tried it in my system and it seemed to work well.
I tried this type of code: https://gist.github.com/mebjas/fb1f258cc4ac360ca63d

Infact I faced the issue of two key value pair with same key `csrfp_token` being sent

[2015-09-29 13:55] mithilesh12 commented on #5
Is it safe to set expire time - At end of session?
By replacing the code
setcookie(self::$config['CSRFP_TOKEN'], $token, time() + self::$cookieExpiryTime);
To
setcookie(self::$config['CSRFP_TOKEN'], $token); #Expires: At end of session

[2015-09-29 13:56] rsantellan opened #31 "TypeError: event.target.href is undefined"
When I do a clic on a link the following error appears on the javascript console.
Is this a problem or just a warning.

Regards.

[2015-09-30 18:06] mebjas commented on #5
@mithilesh12 yeah

[2015-09-30 18:08] mebjas commented on #31
this is strange, I'll check it!
Thanks for posting @rsantellan

[2015-10-01 05:12] mebjas commented on #31
@rsantellan can you check against the latest code?

[2015-10-01 14:03] rsantellan commented on #31
With the lastest code is not happening so I close this!
Thank you!!

[2015-10-01 14:03] #31 closed

[2015-10-01 15:29] rsantellan opened #33 "Error on Chrome and Chromiun."
I'm having problems with those browser because the event listener of the submit is never called on the forms.

If I change the javascript of the file

[code]

I never reach the line: **console.log('here');** this is only happening on chrome.

I search about the document.forms[i].addEventListener("submit", function(event) { and it seams that is correct.

The problem only appears on a submit to the

[2015-10-01 16:42] rsantellan commented on #33
The error was that I disable the submit button and that prevent the submit on chrome.
It wasn't an error of the library.

[2015-10-01 16:42] #33 closed

[2015-12-19 19:17] stephenlawrence opened #34 "Config should be outside of vendor folder in a composer installation"
When I install composer libraries I do not include my /vendor folder in my version control system. For this CSRF library I needed to have the configuration located in my ROOT_FOLDER/config/ folder but this library is hard-coded to look for it inside the installation folder.

Add the ability to have the config file located in ROOT_FOLDER at config/csrf_config.php.

[2015-12-19 19:47] stephenlawrence commented on #34
PR #35 added.

[2016-01-14 21:07] jamespsterling opened #36 "Uncaught ReferenceError: ActiveXObject is not defined"
Getting issues with the JS library.

[code]

[2016-01-14 22:07] mebjas commented on #36
Can you post more information like `OS`, `Browser`, `versions` ?
Thanks!

[2016-01-14 22:08] jamespsterling commented on #36
Chrome 47, WIndows 7, latest version from github

[2016-01-14 22:12] mebjas commented on #36
Cool, I'll test and check this, earliest in the morning today.
Its 3:40AM in here & I have had no coffee :)

Thanks for posting.

[2016-01-15 09:41] mebjas commented on #36
I could not reproduce the error, with latest version of library on `Chrome 47.0.2526.106`, `Windows 10`.
Can you give me more pointers on how to reproduce this error?

Also a screenshot of your console if possible :)

@jamespsterling

[2016-03-09 20:25] nilsteampassnet opened #40 "Usage with Plupload library"
Hello,

I'm using CSRF Protector on my web application.
It works as it should and I've implemented and performed test successfully.
I just have an issue with the file upload that is managed with plupload.com library.
Indeed when csrf is enabled then no upload is performed.

After some checks, it seems that all "POST" parameters that should be send with plupload are not sent when CSRF protector is

[2016-03-10 08:34] mebjas commented on #40
@nilsteampassnet Currently it's not configurable to disable CSRF Protection for a specific POST request. Also this seems like a bug.

I'll try to reproduce this bug and fix it, ASAP.

[2016-03-10 08:35] #34 closed

[2016-03-10 08:35] mebjas commented on #34
This was fixed and merged.

[2016-03-10 21:13] nilsteampassnet commented on #40
@mebjas Thanks for this ... waiting patiently for your inputs (if I can help in testing please don't hesitate)

[2016-03-12 17:28] mebjas commented on #40
Hi, I tested this with my setup, everything seemed to work.
Can you tell me more on how to reproduce it or point me to some demo link where this is failing?

@nilsteampassnet

[2016-03-17 20:09] nilsteampassnet commented on #40
Sorry for long delay.

I've done extra test based on your comment. What sounds strange to me is that it works nicely with Google Chrome but always fails on Firefox (even updated to last version).

I don't know how to deal with this issue.
Under Chrome, with and without CSRF library it works.
Under Firefox, with it fails and without it works.

I really don't unserstand

[2016-03-18 02:34] mebjas commented on #40
I'll test it on firefox.

[2016-03-18 17:04] mebjas commented on #40
I tested it in firefox as well, it didn't fail for me.
Couldn't reproduce the bug, I'm on `OS X 10.11.1` `firefox 41.0.1`

[2016-03-29 19:25] nilsteampassnet commented on #40
Sorry for long time ... didn't have time to work on it.

I found a temporary solution to it. Perhaps what I've discovered will helps you.
I've seen that in Firefox, the uploaded file information are stored in a "object formdata".
And csrfprotector.js file is adding to this object the csrf token in function new_send.
This brings to something that is wrongly interpreted by Firefox.

So my temporary

[2016-03-30 20:21] mebjas commented on #40
@nilsteampassnet - I tested CSRF Protector with plupload, and it worked well (both in Chrome & Firefox), the token was sent along with image object and later verified at server. So, so far I haven't been able to reproduce the bug.

This kind of disabling CSRF protection at file upload forms, makes you application vulnerable to CSRF at those places.

Can you point me to some script in teamPass appl

[2016-03-31 06:16] nilsteampassnet commented on #40
Thanks for your proposal!

Plupload is used in several pages in Teampass, but the most easy for test
purpose is to use the call from the Items page.
So you'll found them in file items.load.php.
Make a search on `var edit_uploader_attachments = new plupload.Uploader({`
This is the initialization of the plupload object when a user is trying to
upload a file when editing an item.

It calls the file `

[2016-04-14 06:40] koltejas opened #41 "TypeError: event.target.href is undefined"
I found this in [closed ](https://github.com/mebjas/CSRF-Protector-PHP/issues/31) issues.
But now it is happening again using the latest code.
This happens on clicking any link
**TypeError: event.target.href is undefined**
**error on line: var urlDisect = event.target.href.split('#');**

Please look into it.

[2016-04-14 07:44] mebjas commented on #41
@koltejas line no?

[2016-04-14 08:48] koltejas commented on #41
it is here

csrfprotector.js (line 286, col 17)

[2016-04-16 23:53] mebjas commented on #41
@koltejas I'm not sure if you are using the latest code, as during the bug fix this issue was resolved.
Look at this: https://github.com/mebjas/CSRF-Protector-PHP/blob/master/js/csrfprotector.js#L302

[2016-04-16 23:56] mebjas commented on #41
Although it wasn't `released`
You'd have to clone the repo for latest bug free code

[2016-04-19 14:42] koltejas commented on #41
a huge oops moment! Now i did a fork and downloaded the master zip. not sure how i ended up with older files the first time.
I did not get any errors using the latest code. Code works nicely. Thanks for this library.

[2016-04-19 14:42] #41 closed

[2016-07-12 03:39] moryekram opened #43 "csrfp_token is false"
Hello.I use your library csrfp_token in post data is false but in cookie it has value.
please help me.

[2016-07-12 06:48] mebjas commented on #43
@moryekram That is strange, can you tell the method to reproduce this bug?

[2016-07-12 07:53] moryekram commented on #43
I found the problem.This is because I have two file: 1 - index.php and 2 - process.php.
All request go to process.php first and after that will be sent to their modules.
But because my web application is single page, my home page is index.php.
The path of index.php & process.php is different.
Now when I call csrfprotector_init() js func in index.php and call csrfProtector::init() in  process.php ,

[2016-07-12 07:54] moryekram commented on #43
I found the problem.This is because I have two file: 1 - index.php and 2 -
process.php.
All request go to process.php first and after that will be sent to their
modules.
But because my web application is single page, my home page is index.php.
The path of index.php & process.php is different.
Now when I call csrfprotector_init() js func in index.php and call
csrfProtector::init() in  process.php ,

[2016-07-12 08:00] mebjas commented on #43
OK the way I understand it, `index.php` serves the HTML output. And `process.php` is called via AJAX, such that it responds in `JSON` format.

So you have to call `csrfProtector::init()` in `index.php` as well, as this function is not only responsible for validation of incoming requests but also for creating tokens and sending it to clients.  Also, you do not need to manually include the js file o

[2016-07-12 09:59] moryekram commented on #43
Thanks a lot.I test it.

[2016-07-13 05:24] moryekram commented on #43
Hello again.Excuse me.I test your solution but because of my html and js code generate dynamically, when removing manual call to csrfprotector_init() js, the library does not generate any token and my generated js code error.So I shuld call it manually in the head of index.php.But now after login first POST request has token that is different from cookie token.

[2016-07-13 05:25] moryekram commented on #43
![files](https://cloud.githubusercontent.com/assets/18113847/16792678/e17b8a8a-48df-11e6-85c3-68c5e80cbfcd.png)

[2016-07-13 05:26] moryekram commented on #43
I uploaded my files.This is zip file that I renamed it to png to allow uploading

[2016-07-13 05:32] mebjas commented on #43
I checked the code
you haven't included the library in `index.php` or `process.php`. Can you upload your project as a github repository and share the link? I'd be able to help better in that case.

[2016-07-13 05:35] moryekram commented on #43
I Uploaded my fresh codes.Before using your library.
Because my project is for my company ans is commercial, I can't upload it as a github project.

[2016-07-13 05:40] mebjas commented on #43
Where have you `included` this library? Can you point me to line of code in the source code you uploaded?

[2016-07-13 05:42] moryekram commented on #43
I will send you index.php and process.php after using the library.

[2016-07-13 05:45] moryekram commented on #43
![files1](https://cloud.githubusercontent.com/assets/18113847/16792962/9187e8b8-48e2-11e6-968f-78c724940249.png)

[2016-07-13 05:46] moryekram commented on #43
In index.php on line 46 for js call and on line 55 for php call functions.
In process.php on line 20 just for php call.

[2016-07-13 06:01] mebjas commented on #43
Ok here's what you need to do:

**`index.php`**
1) `csrfProtector::init()` initialises the process, so call it on line `34`. It should be like:
[code]
And remove it from `line 55`

2)  You do not have to include the csrf js library manually, as done on `line 42`. The php library automatically adds the script to HTML output at appropriate location. However you need to configure the config file prop

[2016-07-13 16:42] moryekram commented on #43
Hello again and thanks for your reply.Now I can use it.

[2016-07-13 16:42] #43 closed

[2016-07-16 06:44] moryekram opened #44 "csrfp_token does not change"
Hello.Why csrfp_token does not change?It is fixed in all get & post request, although it generates new csrfp_token and csrfp_token array size in session gets larger.

[2016-07-16 18:25] mebjas commented on #44
@moyekram
That's expected behavior. The model works on per request token to provide better protection against possible mitm attack.
So to allow users to open multiple tabs all unused tokens are stored in session. The moment one is validated all prev tokens are removed.

[2016-07-17 03:39] moryekram commented on #44
OK, but in my app all get & post request send same token.So always it uses the first token in session and all other tokens are useless.isn't it unsecure?

[2016-07-17 05:13] moryekram commented on #44
OK.I could solve it by adding path to setcookie in csrfprotector.php.Thanks a lot.

[2016-07-20 12:39] petrospap opened #45 "Should I use one CSRF token for all forms in the same page?"
Hello,
I have question, how many CSRF tokens must i generate if I have 10 forms in one page
should I use 1 token for all? Or is better to generate 10 different tokens of each form?

OR

Should I use just one token for entire website, regardless of how many forms / posts has this website?

OR

Should I change tokens on every different page?

Just I don't know what is the best way!

[2016-07-20 12:48] mebjas commented on #45
If there was an option, you should still generate one token. However the way it works is, it generates **ONE** token **AUTOMATICALLY** & send it to client as cookie (and only scripts running on that page can access them). Now js code running on the script will attach the token with any form that is submitted. And when the request goes to server the token is consumed and a new one is generated.

Th

[2016-07-20 12:49] mebjas commented on #36
Closing until more information is gathered

[2016-07-20 12:49] #36 closed

[2016-07-20 12:50] mebjas commented on #29
Closing until more information is gathered

[2016-07-20 12:50] #29 closed

[2016-07-20 12:52] mebjas commented on #15
1. Documentation moved to `NaturalDoc`
2. Currently only one instance of CSRFP per script hence static

[2016-07-20 12:52] #15 closed

[2016-07-20 12:53] mebjas commented on #16
Information on configuration file at:
https://github.com/mebjas/CSRF-Protector-PHP/wiki/Configurations
https://github.com/mebjas/CSRF-Protector-PHP/blob/master/libs/config.sample.php

[2016-07-20 12:53] #16 closed

[2016-07-20 12:54] #13 closed

[2016-07-20 13:36] petrospap commented on #45
Thank you, clear enough!

[2016-07-20 13:36] #45 closed

[2016-07-28 04:02] moryekram opened #46 "send token just in cookie"
Hello.Is it safe to send token just in cookie to server? So it is not append to request parameters and cookie can has httpOnly flag.

[2016-07-28 07:30] mebjas commented on #46
Well that won't serve the purpose. The way CSRF works is some attacker would initiate a request to your website from some another site. And with every request cookies associated with the website are always sent.
So if cookies are your parameters for validation, it will always pass, and your website will be prone to CSRF Attacks.

[2016-07-28 08:50] moryekram commented on #46
OK.That's right.Thanks

[2016-07-28 08:50] #46 closed

[2016-08-06 03:19] moryekram opened #50 "Store CSRF token in javascript var instead of cookie"
Hello.What's your idea about storing token in javascript variable instead of cookie?

[2016-08-06 18:52] mebjas commented on #50
Remember that CSRFP works on a per request token basis.

Consider a scenario where you have two tabs open and both have same token in js variable. One sends a request and get validated. So the token is refreshed at backend and sent back as var to a page open on that tab. But the other tab still has old token so validation will fail if a request is sent from that tab now.

Cookie being a global var

[2016-08-08 05:15] moryekram commented on #50
Hello.And what about using localStorage .

[2016-08-08 10:41] mebjas commented on #50
That would work but the question is why not cookie.

[2016-08-09 09:09] moryekram commented on #50
No particular reason . Because we want to get a security certificate and that institute wants cookies be httponly.

[2016-08-09 09:09] #50 closed

[2016-08-09 12:09] mebjas commented on #50
Oh OK. If your application is https only, you can apply this change
https://github.com/mebjas/CSRF-Protector-PHP/pull/48

[2016-09-09 07:29] gnm67 opened #51 "False positive on POST"
I have an issue in that the token is not being validated on all forms.
The library is configured and I have confirmed it does work.
But on some pages (sample attached) it always gives the 403 error.

[test2.html.txt](https://github.com/mebjas/CSRF-Protector-PHP/files/463769/test2.html.txt)

[2016-09-15 16:19] gyegan commented on #28
I'm having this issue with IE 11 but some of the links on this post aren't valid any more.  Could somebody let me know how to resolve it?

[2016-09-16 04:29] mebjas commented on #28
@gyegan could you create a new issue for this ... I'll look into it asap.

[2016-09-16 04:30] #44 closed

[2016-09-16 14:17] gyegan opened #52 "Token issue on IE 11, mismatch"
I just deployed this to our production server and it is working great for Chrome, Firefox, and Safari but we are reporting issues in IE 11 on government computers.  Is there a work around for IE that would accommodate strict browser settings?  We are also experiencing issues on Chrome and Firefox on government computers but only for certain pages.  It has been very hard to diagnose what is happeni

[2016-09-19 03:00] mebjas commented on #51
@gnm67 is this the actual source code or one sent to browser after output is modified by CSRFP?

[2016-09-19 03:01] mebjas commented on #52
@gyegan What kind of issues are you facing?

Rather than a workaround having the library compatible with IE 11 would be best. Let's find the issue and fix it ASAP.

[2016-09-19 03:06] mebjas commented on #3
As per standards all POST requests should be validated for CSRF Tokens and since there were no feature requests for this issue, setting this as `wontfix` and closing

[2016-09-19 03:06] #3 closed

[2016-09-19 12:51] gnm67 commented on #51
The source code attached is the output from the browser after it has been modified by CSRFP

Original code is PHP.
The module is called using a auto-pre-pend file.

PHP 5.6 / Apache 2.4 / Windows 7 & 2012 Server

[2016-09-19 13:15] mebjas commented on #51
wait, are you using the release `v0.1.0` ? if so could you test with the clone of this repository if you are facing same issues?

[2016-09-19 13:20] gnm67 commented on #51
I think I downloaded it from 'master'

[2016-09-19 13:27] mebjas commented on #51
From the output it looks like it's you are using older version, try downloading this https://github.com/mebjas/CSRF-Protector-PHP/archive/master.zip and test with this.

Reason: If you look at https://github.com/mebjas/CSRF-Protector-PHP/blob/master/libs/csrf/csrfprotector.php#L409 you'll find that code snippet (from your output)
[code]
is no longer attached to HTML output also in [line 399](https

[2016-09-20 15:12] mebjas commented on #51
@gnm67 did you try?

[2016-09-20 15:13] mebjas commented on #52
Assigning it to @gyegan till steps to reproduce are clear and bug is understood fully

[2016-09-20 16:05] gnm67 commented on #51
Sorry I'm on holiday this week I will try when I get back in the office next week.

Thanks, Gavin
Sent via mobile

---- minhaz wrote ----

@gnm67<https://github.com/gnm67> did you try?

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mebjas/CSRF-Protector-PHP/issues/51#issuecomment-248332001>, or mute the thread<https://github

[2016-09-20 17:37] gyegan commented on #52
Sorry, I was trying to figure out the issue since it wasn't happening to me locally.  Finally figured it out, the tokens do not match if you have IE 11 compatibility view turned on.

[2016-09-23 09:53] mebjas commented on #52
Ok, I have a repro this library rely on the JavaScript code to attach tokens to requests in run-time. However lot of things were not supported in IE7 and thus in compatibility mode. I'll provide a quick workaround for you soon and then try to make library more generic.

Thanks, assigning to myself.

[2016-09-26 06:35] mebjas commented on #52
Hi @gyegan I have created a workaround javascript code which worked for me in IE 11 compatibility mode. I have added it as a public gist for now: https://gist.github.com/mebjas/08e593d8e11adc5c4673ecf5be7ce018

What you have to do is
 - replace the script `js/csrfprotector.js` with this one
 - test for this scenario
 - and give feedback on weather it worked or not.

In the meanwhile I'll test this

[2016-09-26 12:31] gnm67 commented on #51
I have downloaded the master and done some more testing.

the page that is giving problems is the the login page after a logout.

the logout uRL is for example
\home\logout.php
\index.php?logout
when they have been logged out the URL is as above and the login screen displayed again.
with a POST action to for example
\home\login.php
\index.php

In these instances the POST always fails with the 403

[2016-09-26 13:25] mebjas commented on #51
@gnm67 I think I know what going wrong. So when you logout you do something like `session_destroy()` which destroys the session for user and they are logged out.
What you could do here is
 - rather than destroying session entirely only `unset` the variable you are validating for session.
- In case you need to destroy the session, could you just backup the token and feed it back to session?

If it'

[2016-09-27 08:59] gnm67 commented on #51
I have checked our code and on the logout we do a
[code]
as a workaround I have done this
[code]

[2016-09-27 09:33] mebjas commented on #51
and it worked?

[2016-09-27 09:40] gnm67 commented on #51
this worked, but is a bit clumsy.
Also now having problems with phpmyadmin.
I had hoped that doing it in a auto-pre-pend would make it easier and would then cover all sites on the server, but it is causing too many problems to handle at the moment.
I will have to forget it for now and try doing it again either server wide or per site when I have more time.

[2016-09-27 09:44] mebjas commented on #51
I don't get it. One thing is session_destroy() is creating issues with PMA.
Ideally what you should try is change logout logic to `unset($_SESSION['id_or_something'])`

though this means you have to look for this as a authentication thingy for logged in user. But ideally that's how it's done.

How do you check if a user is logged in or not using session?

[2016-09-27 15:28] lewislacook opened #53 "Incomplete Configuration File error although config.php has values"
I am experiencing an Incomplete configuration file fatal error, though my jsUrl checks out (path is correct), jsFile checks out, I have values for all of what is required.

Here is my config file (with some info redacted for security):

<?php
/*\*
- Configuration file for CSRF Protector
- Necessary configurations are (library would throw exception otherwise)
- ---- logDirectory
- ---- failedAuthAc

[2016-09-27 16:54] mebjas commented on #53
That is super strange the library looks for these values
[code]

To add to that I tested your config and it worked for me. Are you double sure you are using this config file?

[2016-09-27 20:00] mebjas commented on #53
@lewislacook

[2016-09-27 20:34] lewislacook commented on #53
I'll have to check on that. Since I'm using a nonstandard path for the
library that is a distinct possibility.

On Sep 27, 2016 4:00 PM, "minhaz" <notifications@github.com> wrote:

@lewislacook <https://github.com/lewislacook>

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/mebjas/CSRF-Protector-PHP/issues/53#issuecomment-2

[2016-09-28 05:43] mebjas commented on #53
ok let's see who's culprit. change the line 135-141 in /libs/csrf/csrfprotector.php to
[code]

essentiallly add the `var_dump`

[2016-09-28 05:52] mebjas commented on #53
just so that you know, I have made above changes in code to show missing val. https://github.com/mebjas/CSRF-Protector-PHP/commit/aba031c7bad39a54184852367b10c5ceb9d68ab8

[2016-09-28 05:53] mebjas commented on #52
@gyegan if you not facing issues anymore, I shall start writing a generic js code. feedback needed.

[2016-09-28 14:04] gyegan commented on #52
I will test today!

[2016-09-29 05:00] gyegan commented on #52
I tested today and got this error csrfprotector.js:147 Uncaught TypeError: Cannot read property 'value' of null.

[2016-09-29 08:17] mebjas commented on #52
Ok that is weird, line 147 is
[code]

so if a hidden element with id `csrfp_hidden_data_token` is not there in HTML, that means csrfp was not properly configured. Did you make any other changes than changing this js file?

[2016-09-29 20:36] lewislacook commented on #53
I'll have to check my server set up; I'm getting nothing at all from the var_dump.  All I get is in my error_log:
PHP Fatal error:  Uncaught incompleteConfigurationE
xception: OWASP CSRFProtector: Incomplete configuration file! in /opt/decisionlink/staging/ui/build/production/Decisionlink/classic/res
ources/vendors/owasp/csrf-protector-php/libs/csrf/csrfprotector.php:138\nStack trace:\n#0 /opt/dec

[2016-09-30 07:10] mebjas commented on #53
ok this is coming from error error log. rather than `var_dump` add the line
[code]

or replace `csrfprotector.php` with latest version: https://raw.githubusercontent.com/mebjas/CSRF-Protector-PHP/master/libs/csrf/csrfprotector.php

[2016-10-07 08:53] gnm67 commented on #51
The  session_destroy() is working fine for the logout.

the problem I have with PhpMyAdmin is just by applying the module then PMA fails with 403 errors.

[2016-10-11 16:17] mberkowski opened #54 "Add secure flag to cookie for HTTPS sites"
While assisting with a site that has incorporated this project, I noticed that the CSRF cookie is set without the secure flag.  As a feature request, consider setting the secure flag in the [`setcookie()` call](https://github.com/mebjas/CSRF-Protector-PHP/blob/master/libs/csrf/csrfprotector.php#L326) when the code can detect it is running under HTTPS (via `$_SERVER['HTTPS']` for example) or as a c

[2016-10-11 16:25] mebjas commented on #54
Yeah that's good if the application is `https` only, which sadly isn't a generic case as of now. Check this thread https://github.com/mebjas/CSRF-Protector-PHP/pull/48, there was a PR for the same. You could use it though if the app is actually `https` only.

[2016-10-11 16:34] mberkowski commented on #54
The tight coupling to port 443 is problematic in that PR. There is risk though for sites that aren't guaranteed https all the time, so perhaps a default-off configuration option instead.

[2016-10-11 16:38] mebjas commented on #54
yeah it can be made configurable with `default off`.

[2016-10-11 16:42] mebjas commented on #54
feel free to send a PR, with config value as something like `httpsOnly` let's say

[2016-10-11 16:43] mebjas commented on #53
@lewislacook any updates?

[2016-10-11 16:45] mebjas commented on #51
What I don't get is why applying this to PMA on the first place, although it should play along but I haven't tested. It could be PMA's internal CSRF Protection doesn't plays with this one.

And if this is about PMA logging out with `session_destroy()`, I think that makes sense if both of them are working in same domain.

[2016-10-11 17:17] mebjas commented on #5
wiki created: https://github.com/mebjas/CSRF-Protector-PHP/wiki/what-if-token-expires
closing

[2016-10-11 17:17] #5 closed

[2016-10-11 23:40] mberkowski opened #56 "`checkHeader()` method fault after multiple test method runs"
`csrfp_wrapper::checkHeader()` returns on first match of a header name but I've noticed an issue with it after modeling a `getHeaderValue()` method on it.  The array returned by `xdebug_get_headers()` accumulates values throughout the entire test process. In the first test method to run, a call to `checkHeader()` is reliable because the array returned by `xdebug_get_headers()` contains only values

[2016-10-12 12:31] gnm67 commented on #51
We have many sites on each server, I was applying the module to the server as a auto-pre-pend file so that it is applied to everything rather than having to edit each individual site which could lead to it being forgotten.
The logging out `session_destroy() ` doesn't affect PMA.

[2016-10-12 14:54] mebjas commented on #51
Oh that way. Put a filter on path of the script, something like this pseudocode
[code]
as a workaround for now

[2016-11-03 21:24] mebjas commented on #51
@gnm67 so where are we on this? workaround works?

[2016-11-03 21:24] mebjas commented on #52
@gyegan where are we on tihis?

[2016-11-03 21:25] mebjas commented on #53
@lewislacook I guess I'll close this one, due to lack of repro steps

[2016-11-04 08:01] gnm67 commented on #51
yes the workaround worked.

________________________________
From: minhaz <notifications@github.com>
Sent: 03 November 2016 21:24
To: mebjas/CSRF-Protector-PHP
Cc: gnm67; Mention
Subject: Re: [mebjas/CSRF-Protector-PHP] False positive on POST (#51)

@gnm67<https://github.com/gnm67> so where are we on this? workaround works?

-
You are receiving this because you were mentioned.
Reply to this email

[2016-11-04 11:28] mebjas commented on #51
Closing with the [blog - article](http://blog.minhazav.xyz/2016/11/04/logging-out-and-then-logging-in-throws-403-error-with-csrf-protector-php-fix-workaround)

[2016-11-04 11:28] #51 closed

[2016-11-04 14:23] mebjas commented on #54
Implemented with https://github.com/mebjas/CSRF-Protector-PHP/commit/6f12262f406bb9a5ebf94f9a535944d5cc9fa29a

[2016-11-04 14:23] #54 closed

[2016-11-07 23:58] charitydotorg commented on #52
We left it as is and recoded other parts of our code so we didn't need compatibility mode to be turned on.

[2016-11-07 23:59] gyegan commented on #52
We left it as is and recoded other parts of our code so we didn't need compatibility mode to be turned on.

[2016-11-08 13:58] mebjas commented on #52
Oh, cool I remember having tested the script. I'll perform few more tests and modify the workaround script & then work on generalizing this

[2016-11-14 04:40] mebjas commented on #53
marking this as closed, due to lack of information

[2016-11-14 04:40] #53 closed

[2016-12-21 18:31] jimmy-p123 opened #57 "False negatives on requests containing AJAX call"
If I have a function that looks like:

`function test_csrfp()
{
	// echo AJAX request
}`

and I send a request that contains a call to this function, the same token is sent in the headers for both requests, but the server is expecting a different token for the second request. Is there a way around this?

[2016-12-21 18:46] mebjas commented on #57
`and I send a request that contains a call to this function` - I couldn't get this?

Also the library implements a token-stack method where tokens are kept on server a token created later is consumed. So this should theoretically not happen. However if you give me more information I'll try to reproduce this.

[2016-12-21 22:14] jimmy-p123 commented on #57
I was able to replicate the issue with jQuery 1.12 and an index.php that looks just like this:

`include_once 'csrf-protector/libs/csrf/csrfprotector.php';
csrfProtector::init();

function test_csrfp()
{
    echo '<script src="jquery-1.12.0.min.js"></script>';
    echo '<script>$.ajax({method: "POST", url:"index.php", data: {name: "csrfp_test"}});</script>';
}

function ajax()
{
    echo "Success"

[2016-12-22 07:57] mebjas commented on #57
If you look at the library code - you'll see it buffers output generated by php and attaches script only if it's `HTML` output. Check this - https://github.com/mebjas/CSRF-Protector-PHP/blob/master/libs/csrf/csrfprotector.php#L383

And this js script that is added does all magic. So try changing your code to have `<html>` and `<body>` elements

[2016-12-22 17:36] jimmy-p123 commented on #57
I've changed the example I gave above to include HTML and BODY tags as you suggested. I see that csrfprotector.js is correctly being served now where it wasn't before, but the issue remains. The csrfp_token in the request header is the same for both the request to load the page and the AJAX request on the page.

Here's my updated example:

[code]

[2016-12-22 20:46] mebjas commented on #57
So loading the page is a simple GET request while ajax is POST here. `Token is not refreshed unless consumed` and by default `tokens are consumed for POST and not for GET until explicitly mentioned in config`

[2016-12-22 21:11] jimmy-p123 commented on #57
Okay, thanks for bearing with me so far. That is making sense now.

So when I change the config.php to do:
`"verifyGetFor" => array('http://localhost/index.php*'")`

the initial get is failing when I load the page, but I need to verify both requests. I'm assuming it's failing because the user doesn't have a session at that point? Is what I'm trying to do even possible?

[2016-12-23 09:42] mebjas commented on #57
yeah you don't set CSRF token for landing page. By convention you don't set CSRF token for GET requests, but let's say you have a API endpoint like `GET /action?queryparam=param` then you can whitelist them for CSRF validation using `verifygetfor`

But no for landing page, you need to make a request to get first token, which is done by landing page.

[2016-12-23 17:58] jimmy-p123 commented on #57
My site is actually littered with places where we have GET requests exactly like you described. I thought it would be easiest if I could just verify all GET requests instead of having to find and list every place.

Would it not be possible to just put something like

[code]

at the top of index.php?

[2016-12-23 20:31] mebjas commented on #57
No that wouldn't work. imagine if a user types url and open a web page in your site. There is no way token will automatically be attached in this case. Also Session could be set in this case. you should validate GET request only when it's making some config changes in system (writing to system) which is normally done using POST. GET request is supposed to serve content as per standards.

[2016-12-26 20:27] #57 closed

[2017-01-03 21:54] jimmy-p123 commented on #57
So is the include for the CSRF-Protector only intended to be put for specific code paths that contain POST requests? If my PHP file handles both GET and POST requests in different spots, can I not just put the include at the top of that file?

[2017-01-04 05:52] mebjas commented on #57
no no it has support for GET request. But you cannot put CSRF Protection on landing page, there has to be one page that delivers the token

[2017-01-04 22:52] jimmy-p123 commented on #57
I think I have completely missed a crucial bit of information. Does the csrf-protector even have built-in functionality for POSTing tokens for requests made through Ajax, or do I have to manually append the tokens to each Ajax request?

[2017-01-04 23:01] jimmy-p123 commented on #57
Now, with an empty verifyGetFor array, the Ajax request in my example is still being rejected. authorizePost() is failing because $_POST doesn't contain the csrf token. Any idea why?

[2017-01-05 01:24] jimmy-p123 commented on #57
I was able to track down the reason, but I don't know how to work around it. The Ajax request is being fired before the DOM has finished loading, so csrfprotector_init() is being called after the request has started.

[2017-01-06 06:02] mebjas commented on #57
That's strange. Can you open a new issue with this problem? I'll try to reproduce the bug with information you provide there.

As a quick workaround you could start your ajax calls here: https://github.com/mebjas/CSRF-Protector-PHP/blob/master/js/csrfprotector.js#L334 <- i do not recommend this at all though.

**Again, Open a new ticket with this issue please**

[2017-01-06 22:04] jimmy-p123 opened #58 "XHR wrongfully blocked"
This is the new issue you told me to create from issue #57.

If I have an Ajax request that is supposed to start as soon as the page loads, the request is blocked because xhr's send() isn't overridden until the request has started:

[code]

I was able to find a workaround that works for my case. If you `holdReady` until `init()` is called:

[code]

[2017-01-17 15:27] mebjas opened #59 "403 error on using a token name other than default"
as mentioned offline by a user, creating this issue.
Needs reproduction

[2017-01-18 21:32] jimmy-p123 opened #60 "Echoed form missing token"
I've encountered a problem on my site. The situation is as follows:

I have a button on a page. Pressing that button sends a request via AJAX to the server, and then the response is placed, using jQuery, into a div that's already on the page. That response contains a `<form>` element. When that new `<form>`  is submitted, it is being blocked. When examining the form submission request I do not see

[2017-01-19 04:24] mebjas commented on #60
Interesting find ... this would not work with current logic of attaching event listeners on forms when dom is loaded .
I guess two options are
1. Statically rewriting forms with token on server side.
2. Monitor New dom element addition on client side and take action there

[2017-01-19 04:24] mebjas commented on #60
I'll update with a patch asap. Thanks for pointing

[2017-01-19 17:26] mebjas commented on #60
If you want a quick workaround, you could reference https://github.com/mebjas/CSRF-Protector-PHP/blob/nojs-support/libs/csrf/csrfprotector.php#L387 this line of code where we statically rewrite `<form>` in output to add tokens.

I was looking at DOMAdded events in JavaScript which are now deprecated. So may be an option to extend ob_handler to deal with forced addition of token even if `<html` is

[2017-01-19 17:29] mebjas commented on #59
Tested, couldn't reproduce the bug. Closing.

[2017-01-19 17:29] #59 closed

[2017-01-19 17:34] mebjas commented on #58
Wait, I tested the code you sent and I'm getting proper output and correct validation for CSRF. I'm assuming you are using latest code. Could you give more information about environment / infrastructure?

Output of ajax call looks like this
[code]

[2017-01-19 17:40] mebjas commented on #60
@jimmy-p123
Another quick workaround that although beats the purpose of this library, will work as a quick hotfix.
Change your `echo_form()` to this:
[code]
leverage the public methods in library to get data from it.

[2017-01-26 16:58] the94air opened #61 "Install nojs version with composer"
how to install your nojs version via composer?

[2017-01-27 19:34] jimmy-p123 commented on #58
What is it you'd like to know? I'm using PHP 7, Apache 2.2, and jQuery 1.12. I tested in Chrome, Firefox, Edge, IE 11, and Opera, and they're all affected. I am using the default config options in config.php with the exception of the jsUrl and the tokenLength that I increased to 40. I am completely up to date; just ran a pull to confirm.

I tried to make a short video of it, but my capture softwar

[2017-01-30 17:21] jimmy-p123 commented on #58
I was finally able to make the [video](https://drive.google.com/open?id=0BwBTYtNkQCz1VVM2S1JPY1NDb0U). I'm not sure it will help much, but it's there for you. Sorry the quality is so bad.

[2017-01-31 00:45] jarrodirwin opened #62 "No csrf token added on form submission via JavaScript"
Hey,

I have installed this library and it works great for everything except forms that submit via JavaScript. This is due to the form submit events not firing when submitted via JavaScript - a known issue/problem in web development.

Simple E.G.
<input type="file" name="uploadfile" onchange="this.form.submit()" />

You could get around this by always adding the token field to the DOM for all form

[2017-01-31 17:39] jimmy-p123 opened #63 "Form submission through onchange is missing token"
Got one more issue for you.

When I have a `form`, and I attempt to submit it using an `onchange` listener on an `input` element within, the requests are missing the token. If I submit the exact same form using a submit input though, the request is fine.

I'm able to reproduce using this simplified example. Submit the form by changing and then clicking out of the input field, and you should see th

[2017-02-01 10:30] mebjas commented on #62
@jarrodirwin - is this same as https://github.com/mebjas/CSRF-Protector-PHP/issues/60 ?

[2017-02-01 21:16] jarrodirwin commented on #62
Hi Mebjas, thanks for getting back to me.

That issue is somewhat linked in that dynamically loaded ajax content doesn't get the submit listener added and thus also wouldn't get the input added to the DOM solution but that is a different problem. That is more a problem with the solution.

If you take dynamically loaded content out of the picture, just a standard form that is loaded on page load an

[2017-02-02 18:35] mebjas commented on #61
@the94air - yeah there is no way as of now, will check if we can have branch level installation in composer and come back to you.

[2017-02-02 19:32] mebjas commented on #61
Check this out on how to do it - https://lornajane.net/posts/2014/use-a-github-branch-as-a-composer-dependency. Added information in readme as well - https://github.com/mebjas/CSRF-Protector-PHP/blob/nojs-support/readme.md

Also I have pushed some changes to nojs version to support autoload - https://github.com/mebjas/CSRF-Protector-PHP/commit/e67599a8bf4f2665ae05eb320f1add2a05bc7daf

[2017-02-02 19:34] mebjas commented on #63
@jimmy-p123 Interesting! I'll test and try to reproduce.
Thanks!

[2017-02-02 19:39] mebjas commented on #62
True, I'm considering to add some server level solution of modifying buffered output (if it has corresponding patters) rather than relying purely on JS. That's at least try to solve the problem linked with forms getting attached to DOM in runtime.

Now about JS triggered submission, I received another issue - https://github.com/mebjas/CSRF-Protector-PHP/issues/63, which I'll try to reproduce. If i

[2017-02-03 06:02] the94air commented on #61
Thanks you are awesome :smi

[2017-02-03 06:13] mebjas commented on #61
Assuming the issue to be solved, @the94air closing the issue

Thanks!

[2017-02-03 06:13] #61 closed

[2017-02-03 21:38] jimmy-p123 opened #64 "Calling parent's log function when trying to override functionality: private access"
I'm trying to [override the logging function](https://github.com/mebjas/CSRF-Protector-PHP/wiki/Overriding-logging-function) using Method 2. However, I want to retain the default functionality, and just do more on top of it. My extended class looks like:

[code]

but `logCSRFattack` has `private` access right now, and doing this isn't currently supported. Any chance you could change this function

[2017-02-06 20:23] jarrodirwin commented on #62
Not sure if you've seen this CSRF Protection Library but it might give some insight on an output buffered approach - https://www.phpclasses.org/package/8252-PHP-Prevent-CSRF-request-security-attacks.html

[2017-02-07 23:49] jimmy-p123 opened #65 "ActiveXObject( false negative in IE 11"
Sorry to keep bothering you, but I have discovered another problem, specific to IE 11. Apparently, in IE11, `typeof ActiveXObject` always evaluates to `undefined`, even when `new ActiveXObject()` will correctly create an instance of it. As always, here is my simplified example:

[code]

I can reproduce the problem with IE11, but I haven't tried in older versions. My gut tells me that it's specific

[2017-02-11 23:03] mebjas commented on #64
Nice suggestion. Implemented!

[2017-02-11 23:05] mebjas commented on #65
I don't get how is it related to library? A general practice is to check if the class is available
[code]

[2017-02-12 01:07] jimmy-p123 commented on #65
Normally, yes. But for IE11 the case is [different](https://msdn.microsoft.com/library/dn423948(v=vs.85).aspx). Run my example in IE 11 and see for yourself. The `ActiveXObject` will be instantiated and sent correctly, but the request will be blocked by your library. That's because `typeof ActiveXObject` is technically undefined, but you can still instantiate an instance of it by calling `new Acti

[2017-02-12 10:07] mebjas commented on #65
Yes you are correct IE-11 has made changes to hide `ActiveXObject` from DOM. https://msdn.microsoft.com/library/dn423948(v=vs.85).aspx

While the check here: https://github.com/mebjas/CSRF-Protector-PHP/blob/master/js/csrfprotector.js#L282 will fail in IE 11 and it will not attach the token. I'll send a fix!

Nice catch man, impressive!

[2017-02-12 10:09] mebjas commented on #64
Closing it!
@jimmy-p123 - however I'm curious to know what type of logging are you going for. Also it'd be amazing if you could put a write up of how you extended the library to use your own custom logging. Might be useful to other users.

[2017-02-12 10:09] #64 closed

[2017-02-12 12:05] mebjas commented on #63
So, I tested this on my system (Windows 10, Chrome ) and seems to be working just fine. I put breakpoints to validate what is hit:
![capture](https://cloud.githubusercontent.com/assets/3007365/22861883/9970d764-f149-11e6-8086-784743ed4415.PNG)

And you can see the call back for `addEventListner` is hit. I'll check for other browsers

[2017-02-12 12:28] mebjas commented on #63
@jimmy-p123 - was able to reproduce this. This was because the library was not intercepting the call to `HTMLFormElement.submit()`.

I have pushed the changes - https://github.com/mebjas/CSRF-Protector-PHP/commit/cdf167dc36468a1f6564510be792a2298e32bae3, could you pull and verify ?

[2017-02-12 12:30] mebjas commented on #62
@jarrodirwin - added code to intercept the form.submit() method and added a wrapper to attach a token before it's sent. https://github.com/mebjas/CSRF-Protector-PHP/commit/cdf167dc36468a1f6564510be792a2298e32bae3

Could you pull and verify?

[2017-02-12 13:01] mebjas commented on #60
@jimmy-p123 should be fixed with https://github.com/mebjas/CSRF-Protector-PHP/commit/d9c8cea7dca2b11a3abd6863cffe2a1cc733db4d check and verify

[2017-02-12 13:15] mebjas commented on #65
So I checked for fix and it seems that `ActiveXObject.prototype.send` is `undefined`  in IE 11. So the library cannot intercept / add wrapper to that method. This is gonna be tricky.

[2017-02-12 21:09] jarrodirwin commented on #62
@mebjas This looks pretty good except I found a small bug in line 192 of csrfprotector.js whereby your not passing the event into the callback function.

`-       document.querySelector('body').addEventListener('submit', function() {
+       document.querySelector('body').addEventListener('submit', function(event) {
`

I've tested on Chrome and FF but run Ubuntu so haven't tried IE/Edge.

[2017-02-12 21:14] jarrodirwin commented on #58
I also have run into this whereby some inline Javascript (or scripts added before the csrfprotector.js script) have their ajax functions run before csrfprotector_init() has been run.

I got around it by making the following hacks but it would be nice to ensure that the csrfprotector_init() function is run before anything else (once the dom is loaded).

[code]

[2017-02-13 05:35] mebjas commented on #62
Yeah it's not always needed as callbacks run is a closure scope. But have added anyway!

Thanks! Closing this.

[2017-02-13 05:35] #62 closed

[2017-02-13 05:40] mebjas commented on #58
`csrfprotector_init()` is highly dependent on DOM. So it can run only after DOM is fully loaded.
Inline javascripts could be called before DOM is loaded I'm assuming - so this would be like calling a `jquery` method before jquery has initialised.

However we can have a callback in init method like `$(docuemnt).ready` method which will make sure functions are triggered only once the csrfp has been

[2017-02-13 20:02] jarrodirwin commented on #58
@mebjas Yeah sorry should have been more specific. In my specific case, the inline javascript that was running before csrfprotector_initi() was run was still attached to the $(document).ready event but was just higher up the execution order so would get run first.

[2017-02-14 06:11] mebjas commented on #58
One way to it is, attach the CSRFP JS before any other script like just after
`<head.*>` but this doesn't seem to be standard.

As of now the script is attached after `<body/>`.
I'll add a config parameter to select where should the script be attached. Sounds good?

[2017-02-14 06:12] mebjas commented on #63
@jimmy-p123 marking this as closed, reopen if the issue still exists

[2017-02-14 06:12] #63 closed

[2017-02-14 06:13] mebjas commented on #60
@jimmy-p123 marking this as closed, reopen if the issue still exists

[2017-02-14 06:13] #60 closed

[2017-02-15 17:42] jimmy-p123 commented on #60
Yep, looks like that fixed it. Thank you.

[2017-02-15 17:55] jimmy-p123 commented on #63
Looks good. Thanks again.

[2017-02-16 15:35] mebjas commented on #58
Tried the adding script after `<head*>` but it doesn't give any benefit at this library is gonna initiate itself once DOM has loaded. I'm removing this from milestone for now as it's not a blocker. it's a good practice to not have inline JS or initiate ajax before document is ready.

Also, once can easily modify the js to trigger the scripts after csrp_init.

[2017-02-17 18:49] jimmy-p123 commented on #58
The problem isn't caused when the events are _fired_, it's caused when the events are _registered_, since `jQuery.ready` is just a  `DOMContentLoaded` event that fires all of the functions that were passed to `ready`. If multiple functions for the same event are registered, then those functions fire in the order that they were registered. That's why I still think this is a problem. It doesn't matt

[2017-02-17 20:28] jimmy-p123 commented on #64
Oh I'm not doing anything fancy. The way our site works, we have activity logs for each customer individually, which we record in an SQL database. We wanted to both keep a global log file of all blocked requests across our entire site and insert an entry into the affected customer's log when a block happens. We have a function called `insert_log_message` to handle the SQL insert, so my overridden

[2017-02-25 00:30] MasonM opened #66 "Token is predictable due to insufficient entropy"
Currently, [the token is generated using mt_rand()](https://github.com/mebjas/CSRF-Protector-PHP/blob/e5022cab83c2e8f168cb9f030d807f9f07e56044/libs/csrf/csrfprotector.php#L355), which is not a cryptographically-secure RNG (see [the "Caution" notice on php.net](http://php.net/mt_rand)). Hashing it with SHA512 isn't enough, because the possible hash values are from 0 to 2^31-1 (2147483647). Using Ha

[2017-03-10 20:16] abhij89007 opened #67 "Request Block"
Hi,

I have a form:
<form id="register_form_new">
	<h4>Register</h4>
		<div id="registerFromLogin">
			<div class="col-md-10 col-md-offset-1 no-margin text-left">
				<label class="pull-left">Full Name*</label><br>
				<input type="text" name="full_name_new" class="form-control margin-bottom-15" id="full_name_new" required>
				<p id="errorname" style="display:none;">Please enter your name</p>

[2017-03-12 21:02] mebjas commented on #67
@abhij89007 - could you provide more details? Browser, OS, maybe more steps to reproduce.

Also have you included the library to both calling and receiving page of AJAX request?

[2017-03-12 21:08] mebjas commented on #66
@MasonM thanks for pointing this out, replaced it with `random_int` method

[2017-03-12 21:14] abhij89007 commented on #67
@mebjas Browser is Firefox, OS is windows 7. I have installed library using composer.
Yes i have included the library at both pages. It works fine in case of POST method but not in case of GET method.
Steps for how i got this error:
1. Add library on signup page(calling page) and submission page(receiving page).
2. Submit the inputs on the form.
3. Add a validate function on submit button of the f

[2017-03-12 21:15] abhij89007 commented on #67
Also i trying this in private window of Firefox to avoid any cache, if this helps.

[2017-03-12 21:22] mebjas commented on #67
@abhij89007 have you configured the verify get for config param for the request url? https://github.com/mebjas/CSRF-Protector-PHP/blob/master/libs/config.sample.php#L26

More information - https://github.com/mebjas/CSRF-Protector-PHP/wiki/Configurations

[2017-03-12 21:25] abhij89007 commented on #67
I have left it as blank array, is it mandatory to have something in it? Does it mandatorily have values, documentation didn't say so.

[2017-03-12 21:26] mebjas commented on #67
Yes, GET requests are not supported by default. **It cannot be supported by default**. If there were default support for GET request, you'd not be able to even load landing page, as it has no token to send.

If you add the url of the ajax to this array, or a pattern there - it should work.

[2017-03-12 21:32] abhij89007 commented on #67
Ok i will give this a try. But shouldn't it work for all ajax requests by default? be it POST or GET.

[2017-03-12 21:33] abiusx commented on #66
One single value does not allow extracting the seed, but regardless CSPRNGs are better.

[2017-03-12 21:36] mebjas commented on #67
No Get requests are ideally used for retrieving data. That's not where CSRF is applicable.

[2017-03-12 21:44] abhij89007 commented on #67
Ok, so why is that AJAX request using GET method is not working. It should work though, even if it doesn't add the CSRF token in it, right? Since i haven't added any rules or regex in verify GET array. It should let it work without adding any security token or blocking it right away.

[2017-03-12 21:46] mebjas commented on #67
Yeah, that is true. Ideally this should not be blocked.
I'll see if I can reproduce this bug.

----------------------------------------------------------------------------
Kind Regards,
Minhaz
minhazav.xyz | Blog <http://blog.minhazav.xyz> | Projects
<http://github.com/mebjas> | LinkedIn <https://in.linkedin.com/in/minhazav>

On Mon, Mar 13, 2017 at 3:14 AM, Abhishek jain <notifications@github.com

[2017-03-12 21:49] abhij89007 commented on #67
I am maintaining a legacy project, and it is using hundreds of AJAX GET requests to retrieve or send data. Now adding this library will block all those requests. It should just skip those requests if not specified in verify get array. Changing all of them to POST will be a huge task. And not just me , many user may face this situation. Please update this. Thanks.

[2017-03-13 20:09] jimmy-p123 opened #68 "Enhancement Requests: Configurable duration and reusable tokens"
I have two requests for enhancements that would suit my needs quite nicely.

1. Could you possibly make the duration of the cookie configurable? My site has a setting that gives some elevated users the option to change the duration of their session, so it would be nice to have the duration of the CSRFP cookie match the duration of the user session.

2. Could you make it possible to reuse the same

[2017-03-15 15:11] abhij89007 commented on #67
@mebjas I have defined the rule for verify get in config file.
`	 "verifyGetFor" => array('*://*/exe/*')`

I tried it with same scenario as described in one of my previous comment.

1. Add library on signup page(calling page) and submission page(receiving page).
2. Submit the inputs on the form.
3. Add a validate function on submit button of the form.
4. Validate the input of fields, and if fine u

[2017-03-15 22:34] coach-z opened #69 "Help with submitting form"
I'm new to this library and trying to implement it, but don't quite understand an issue I'm running into.  I have a hidden form that has always been submitted via an anchor tag with JS to submit the form.  This fails validation on the page I'm posting to... but if I simply change the submission to a submit button it works fine.  Before I try to convince my boss to change the appearance, is there s

[2017-03-16 21:39] mebjas commented on #66
Thanks! Closing this.

[2017-03-16 21:39] #66 closed

[2017-03-16 21:49] mebjas commented on #67
@abhij89007 you are using preventdefault() to stop form from submitting itself?

[2017-03-16 21:54] mebjas commented on #68
@jimmy-p123 answers:
1. it's `30mins` by default. You can change it here: https://github.com/mebjas/CSRF-Protector-PHP/blob/master/libs/csrf/csrfprotector.php#L32 in your code. If you want to make it configurable, you can alter config file, and load it in constructor. Feel free to send a PR.

2. If this is happening then it's a bug. A lot of effort has been put to make it per request token based m

[2017-03-16 21:55] mebjas commented on #69
@coach-z you are using `preventDefault()` method to stop link click taking it's intended action right?

[2017-03-16 22:14] abhij89007 commented on #67
@mebjas I apologies, i mentioned it wrong earlier, i am not using a submit button, its just a button. As you can check my form i added in my first description.

[2017-03-16 22:14] jimmy-p123 commented on #68
I made a post on [stackoverflow](http://stackoverflow.com/questions/42587616/php-how-to-flush-cookies) that explains the problem, but I didn't explain it as well as I could have. I thought there would be a way around it that didn't involve modifying your library, but nobody had any ideas.

Since you obviously understand your own library, let me just pose a simple question to you, to see if you can

[2017-03-16 22:49] abhij89007 commented on #67
@mebjas I have found another bug, library seems not to be working on relative paths. So if url is giving like this:

`url: "/exe/new-user-registration.php",` it works, but if its defined like this `url: "../exe/new-user-registration.php",` it ends up in error.

[2017-03-17 15:01] coach-z commented on #69
Here's a snippet of what I have...
`$('#makePaymentLink').click( function(e) {
                e.preventDefault();
                $('#frmOweAcctInfoMakePymt').submit();
            });`

`<a href="javascript:;" id="makePaymentLink"> Click Me</a>`

[2017-03-17 20:56] jimmy-p123 opened #71 "False negative: form in iframe loaded via AJAX"
If I load an iFrame via AJAX and that iFrame contains a form, the form gets blocked on submission. I broke my example up into multiple files this time.

_index.html_:
[code]
_iframe.html:_
[code]
_form.php:_
[code]
_form_action.php:_
[code]

[2017-03-17 22:04] jimmy-p123 commented on #71
Never mind, this case actually works, but something else is causing a false negative for me.

[2017-03-17 22:04] #71 closed

[2017-03-20 21:48] mebjas commented on #69
I thought preventDefault() was preventing the library to do it's intended purpose, but it seem to be working for me: the exact scenario.

[code]

[code]

Is there any diff from scenario I'm trying?

[2017-03-20 21:54] coach-z commented on #69
I can try to test it later tonight... I punted and styled my button as a link with CSS and it's working.  I'm sure it's something on my end, but appreciate the assistance.

[2017-03-20 21:55] mebjas commented on #69
Yeah, kindly close the issue, if it's not coming up . 👍

[2017-03-20 21:56] #69 closed

[2017-03-20 22:03] mebjas commented on #67
@abhij89007 - I tested both the bugs you mentioned and I'm not able to reproduce either of them. Both work for me. Also, `verifyGetFor` flag is used to enable CSRF mitigation for get requests, it should be 403 free when it's empty.

[2017-03-20 23:16] jimmy-p123 commented on #68
Here's a more concrete example:

[code]

[2017-03-23 21:08] coach-z opened #72 "Ajax post not updating token"
Good day!  I have hopefully one more issue/question on the project I'm working on.  Here's the behavior I'm experiencing.  I have an Ajax post that submits to a PHP page for validation and it is working great the first post.  However, the 2nd and subsequent posts are sending the same first token, rather than the new token the Validation page created when it consumes the 1st token (if my understand

[2017-03-24 15:07] vishy93 opened #73 "Using with GetSimpleCMS"
Hello guys when I am trying to incorporate this in my GetSimpleCMS project I get the following error:

(index):1954 Uncaught ReferenceError: csrfprotector_init is not defined
    at window.onload ((index):1954)
    at window.onload (main.min.js:20)

I have read through all of the documentations here, followed the steps thoroughly. Can't seem to see or fix where I have gone wrong. Would anyone know

[2017-03-24 16:47] #72 closed

[2017-03-24 17:49] coach-z commented on #72
I closed this as I found that having the script I'm posting to at the same directory level of the posting script resolved this behavior.   Maybe this is documented or known, but threw me off.

[2017-03-29 19:21] mebjas commented on #68
@jimmy-p123 : for the cookie duration (1st part of it), could you resend a PR?

As for other, amazing example. I get the issue: if there is a causality inconsistency between the server and client the model fails. Will try to find a solution for this, in existing model.

[2017-03-29 20:38] mebjas commented on #68
@jimmy-p123 it is an interesting problem. Can you try replacing `libs/csrf/csrfprotector.php` with this https://gist.github.com/mebjas/df33433ec5584341d2f8b22d6fc67ccb and see if it works well for your case.

[2017-03-31 08:11] Haider125 opened #74 "IE-8 support"
Hi,

This library doesn't work with IE-8, i have also tried code at the following branch but with no luck. My webpages have some ajax on them, following errors are generated the minute they get a response, not sure if it helps to track the issue

[https://github.com/mebjas/CSRF-Protector-PHP/blob/IE-7-support/js/csrfprotector.js](url)

Errors are
Invalid procedure call or argument on csrfprotector

[2017-03-31 19:07] jimmy-p123 commented on #68
It appears to be fixed using variations of the example I provided. I'll apply it to where I initially found the problem and get back to you if I find any problems there.

[2017-04-03 17:07] abhij89007 commented on #67
Ok figured why is it happening. It is the path issue.
Like i mentioned in previous comment, if url is defined like this:
`url: "/exe/new-user-registration.php"`, it works,
but if its defined like this `url: "../exe/new-user-registration.php"`, it ends up in error. This is with both POST and GET method.

[2017-04-03 17:31] abhij89007 commented on #67
also is it possible to have the cookieexpirytime in config file instead of going to edit the vendor library, reason being updating composer , updates any changes made in the library..

[2017-04-05 22:36] mebjas commented on #74
@Haider125 - there seem to be a couple of issues with JS + IE<=8
I checked the syntax for line 260, it looks fine. It must be issue with how AxtiveXObject is called. I'd need to investigate that, but can't guarantee on the the deadline as I haven't been able to put bandwidth on IE<=8 issues. It'd be amazing if you are willing to take that up, totally look forward to have a working IE supported bra

[2017-04-05 22:37] mebjas commented on #67
yeah there has been an ask like that. There were some PR on that, would try to get that up and merge.

Can I consider this as not-bug and set as resolved?

[2017-04-12 08:18] mebjas opened #77 "build failing for hhvm"
[code]

Error in travis-ci - https://travis-ci.org/mebjas/CSRF-Protector-PHP/jobs/221225373

[2017-04-12 08:18] mebjas commented on #77
@oittaa -  can you look into this?

[2017-04-12 08:19] mebjas commented on #68
@jimmy-p123 status?

[2017-04-12 08:19] mebjas commented on #67
@abhij89007 ?

[2017-04-12 09:26] oittaa commented on #77
That version of HHVM doesn't have all the debug functions yet. Previously the builds were failing with the following:
`Fatal error: Call to undefined function xdebug_get_headers() in /home/travis/build/mebjas/CSRF-Protector-PHP/test/csrfprotector_test.php on line 28`

I added [a small fix for HHVM enabling xdebug](https://github.com/mebjas/CSRF-Protector-PHP/blob/aec0d6966992363a7192b2ae9fb0a9643e

[2017-04-12 09:46] oittaa commented on #77
The hard way is to add a web server to the tests and do real requests against it. Then we could use [`get_headers()`](http://php.net/manual/en/function.get-headers.php).

[2017-04-12 10:57] abhij89007 commented on #67
@mebjas thank you for considering adding cookieexpirytime in config file . But like i mentioned in my earlier comments, the path issue still exists.
I have defined the rule for verify get in config file.
"verifyGetFor" => array('*://*/exe/*')

if url is defined like this:
`url: "/exe/new-user-registration.php"`, it works,
but if its defined like this `url: "../exe/new-user-registration.php"`, it e

[2017-04-12 13:21] abhij89007 commented on #67
triggering click using jquery doesn't append csrf token in the ajax request bind with that triggered click. Am i missing something here?

[2017-04-12 13:23] abhij89007 commented on #67
Also every now and then user complains about 403 forbidden error on the site, is this because token expired or can it be something else?

[2017-04-12 16:38] jimmy-p123 commented on #68
I found one instance where we're sending three requests at the same time, and then a fourth request that starts shortly after the first three start, but finishes before any of the others finish, gets blocked. I'm still working on how to simplify the problem, as it seems to be slightly more complicated than that.

I'll try to get that pull request sent over today as well.

[2017-04-13 16:31] jimmy-p123 commented on #68
I'm still getting blocks on request number 5 in the following example, but only sometimes. I have to refresh the page a few times to get it to happen:
[code]

[2017-04-13 18:14] coach-z opened #79 "Submit form vis JS/JQuery"
I'm using the latest version and have an issue with a Chrome Extension causing validation to fail on JS/Jquery submit.  Below is a simple test I setup, with 3 submission types (Ajax, Submit Button and Button that submits the form with Jquery.  They work in all browsers except the form submitted with Jquery in Chrome when I have a LastPass extension enabled in the browser settings.  Not sure what I

[2017-04-29 05:22] mebjas commented on #79
@coach-z
In your example

[code]
There doesn't seem to be any `#ajax` or `#form` or `#frmTest` on which jQuery added event listener.

[2017-05-09 20:49] coach-z commented on #79
It keeps cutting off my paste... I emailed the sample scripts.

[2017-05-24 18:08] Rick84 opened #80 "Issue with JSON POST calls"
In csrfprotector.js in the new_send method (line 293) the following method is executed:

`data.append(CSRFP.CSRFP_TOKEN, CSRFP._getAuthKey());`

When I execute the ajax call below, the CSRF protector correctly identifies the payload as an object and tries to append the token. This, however, does not seem to do anything nor trigger an error, and log messages below this line are not executed (Chrome

[2017-05-25 08:16] mebjas commented on #80
Thanks for posting, will look into it asap

[2017-06-28 14:00] bupradeep opened #81 "Issue on multiple tab processing at same time"
I have two tabs loading same page(with different form data) on browser. And submitting the form almost same time on both tabs(the recently generated token appended in both requests).

Here one tab, which process secondly gets 403 issue.

Is there any way to solve this?.

Note: It is not occurring all times. Rarely we notice this issue, while executing these kind of simultaneous process.

[2017-07-07 14:02] GLStephen opened #82 ""Master Version" Doesn't Call JavaScript INIT"
The version of the JS file linked as the 'master' file here:

https://github.com/mebjas/CSRF-Protector-PHP/wiki/How-to-use

Does not match that in js/csrfprotector.js

It is missing this:

window.addEventListener("DOMContentLoaded", function() {
	csrfprotector_init();
}, false);

Which makes the whole thing work.

[2017-07-07 14:16] GLStephen opened #83 "Documentation not Clear on Interaction of CSRFP_TOKEN in Config and JavaScript"
In hindsight it is perfectly clear, but at first install the documentation is not clear about the interplay of CSRFP_TOKEN here https://github.com/mebjas/CSRF-Protector-PHP/wiki/Configurations and at the top of the csrfprotector.js file.

A note to indicate that changing the config value requires a change in the JS file would be very helpful.

[2017-07-08 09:41] mebjas commented on #81
@bupradeep well this issue was addressed in previous few releases. Can you tell more on way to reproduce this, specifics of form and request types.

[2017-07-08 09:45] mebjas commented on #83
@GLStephen that ain't needed. If you see here - https://github.com/mebjas/CSRF-Protector-PHP/blob/master/libs/csrf/csrfprotector.php#L422 the token name is put in HTML output as hidden input and it's retrieved by the js code here - https://github.com/mebjas/CSRF-Protector-PHP/blob/master/js/csrfprotector.js#L147

[2017-07-08 09:47] mebjas commented on #82
Yeah documentation got outdated with new releases. Updated the link to release page.

Thanks :)

[2017-07-08 09:47] #82 closed

[2017-07-13 09:27] ar-anvd opened #84 "HTML truncated when activate csrfProtector"
Hello. I am experiencing a strange behaviour when activate csrfProtector.

When I see the view source of the document, I have the [html](http://i.imgur.com/wMqjMII.png) content simply truncated at some point.

The only workaround that I have found is just insert a ton of line breaks after the end of document </html> to have all the markdown rendered.

If I disable the csrfProtector, then everythin

[2017-08-10 05:39] arnavchaudhary commented on #80
I have used this for our Ajax calls.
`
var csrf_token = $.cookie('csrfp_token');
$.ajaxPrefilter(function(options, originalOptions, jqXHR){
    if (options.type.toLowerCase() === "post") {
        // initialize `data` to empty string if it does not exist
        options.data = options.data || "";

        // add leading ampersand if `data` is non-empty
        options.data += options.data?"&":"";

[2017-08-21 13:37] elieobeid7 opened #85 "Questions about the installation"
I installed it via composer. it says

So Ok I would need to copy that to the root folder of my app, is that all? My questions are

- Why would I need to do that? Why wouldn't just get installed via composer like all other libraries

- Why would I need to do

`include_once __DIR__ .'/vendor/owasp/csrf-protector-php/libs/csrf/csrfprotector.php';`

Shouldn't that be done automatically via composer?

[2017-08-23 08:35] mebjas commented on #85
Answers:
### Why would you need to do that:
Well there are some parameters in the config file which need to be tweaked before the library can be used - `jsurl` primarily. So to ensure that - the config file is provided as `config.sample.php` rather than `config.php`. Irrespective of you having installed using composer or not, you can keep the config file where it is. Keeping in the root folder jus

[2017-08-23 08:36] mebjas commented on #84
@ar-anvd this is weird. Can you give me more information to reproduce this? What was your environment?

[2017-08-23 08:36] mebjas commented on #83
@GLStephen did that answer the question? Can I mark this as resolved?

[2017-09-08 08:17] tiger154 opened #86 "Cookie set lost on ajax(POST) call"
Hi @mebjas,

First of all, Thank you so much providing this cool library.

***1. Issue***
 - While I was testing it I had critical issue that after renew(isValidToken and refreshToken) cookie **setcookie** seems like didn't work at all. issuing new token was success but it didn't set new cookie.
  Because of that It was using old token only, so it increase tokens infinitely.

** I didn't put **Qcs

[2017-09-13 11:55] Liwoj commented on #80
@arnavchaudhary workaround looks like content type is `application/x-www-form-urlencoded` and it will not work for content type `application/json`
Imho main reason is that [server side validation code](https://github.com/mebjas/CSRF-Protector-PHP/blob/master/libs/csrf/csrfprotector.php#L199) is using `$_POST` variable which [is empty when POST body contains JSON](https://stackoverflow.com/question

[2017-09-13 15:22] jisol commented on #80
Making the library work for content type application / json is essential for it to work with the EXT JS framework.

As the library recommended by OWASP for PHP and Apache, it would be very important and appreciated if the updates suggested by Liwoj were implemented, or in the meantime, a functional workaround was provided.

As far as I can tell CSRFProtector is a fantastic idea and a precious help

[2017-09-13 16:07] Liwoj commented on #80
Well, there is workaround - use content type `application/x-www-form-urlencoded` instead of `application/json`. The later one is really not needed unless the data POSTed are complex - like nested list\objects.
But I agree that proper handling of JSON payload would be really useful for cases where JSON is necessary....not just for ExtJS users but really for any RIA framework out there...

[2017-09-13 18:36] mebjas commented on #80
Thanks for more context around the bug, I'll try reproduce this and send a fix.
As far as I get here, the JS code is not able to attach token when condition like this
[code]
is observed; which in turn leads to false negative on server side;

[2017-09-13 19:40] jisol commented on #80
Thanks mebjas. Take a look at the following post; at the end of the question I describe step by step what happens when I use the library with PHP and EXTJS. it might be useful.
[https://stackoverflow.com/questions/46007506/extjs-csrf-protection](url)

[2017-09-14 14:05] peterdutton opened #87 "Cookie path issue"
Hi,

I have come across an issue where, in a page that is mostly updated via AJAX, the token expires on the 'main' page. This is because in my setup the ajax calls are made to scripts in a subfolder,
 e.g. `/ajax/ajaxScript.php` whereas the main page is served at the root, `/app.php`.

I propose to work around this in my installation by setting the 'path' parameter on setcookie (in the `refreshTok

[2017-09-15 09:18] jisol commented on #80
The master version available for download here [https://github.com/mebjas/CSRF-Protector-PHP/wiki/Setting-up-CSRF-Protector-PHP-in-your-web-application](url) seems outdated and does not work with EXTJS.

The new release available here [https://github.com/mebjas/CSRF-Protector-PHP/releases](url) apparently works fine (no error is triggered)

[2017-09-17 13:57] mebjas commented on #87
Actually all the params of the `setcookie` method can be made configurable. We did the same for secure flag.

I'll send a Pull Request where this is taken care of, thanks for suggesting.

About security implications, I don't see any security implications here, it's just about how many applications are being run under same domain. It's purely developer choice.

[2017-09-17 14:01] mebjas commented on #86
Hi @tiger154  - yeah it seems this issue was faced by other users as well. Check this issue: https://github.com/mebjas/CSRF-Protector-PHP/issues/87

I guess solution mentioned there would work here as well.

[2017-09-17 14:03] mebjas commented on #85
@elieobeid7 - let me know if you have more questions, else I'll close this issue.

[2017-09-17 14:04] mebjas commented on #84
@ar-anvd a quick follow up here, to see how to fix the bug, I need steps to reproduce them.
If it's fixed, by configuration itself, I'll mark this as closed.

[2017-09-17 14:04] #83 closed

[2017-09-17 14:05] mebjas commented on #81
@bupradeep - quick followup here, more information is needed to address this issue. Otherwise I shall mark this as closed.

[2017-09-17 20:53] mebjas commented on #80
@Rick84 - I could reproduce the issue and here are some points:
 - As @Liwoj suggested, the library doesn't seem to support pulling data from POST payload as in case of `application/json` contentType. I'm working on this, also client side js need to support adding tokens to JSON Objects.

However there are some issues with the way you have used `$.ajax` as well I believe, `data` field should be in

[2017-09-17 20:58] mebjas commented on #80
@Rick84 @arnavchaudhary @jisol @Liwoj - can you validate the fix on https://github.com/mebjas/CSRF-Protector-PHP/tree/dev-master-issue80 branch.

Fix was pushed in this commit - https://github.com/mebjas/CSRF-Protector-PHP/commit/a14bb9e843705c74575a9c2d9fb82eb0b9f3ae6c

For now consider this a hotfix, I have to look at all other type of content types as well.

[2017-09-18 10:56] Liwoj commented on #80
@mebjas I'm not PHP guy at all so i can't try it. Take this with grain of salt...

1. Appending token in JS - taking stringified JSON, decode it, add token and stringify again doesn't look very efficient.
2. I have a feeling that `php://input` is non seekable. Which means if you read it like this, request handler has no access to JSON payload anymore
3. I don't like the fact that token is left as

[2017-09-19 05:29] mebjas commented on #80
@Liwoj - interesting points. Let's look at them one by one;
## *Problems:*
1. Sure there is efficiency issue, `stringify` the object is always gonna be there; So CSRFP adds an additional overhead of `decoding` JSON string to JSON Object, adding the token and `encoding` it back to JSON string; - is it too high? it could be yes!
2. Yeah this is there!
3. It's the same with data being left in `$_POST

[2017-09-19 05:31] mebjas commented on #79
@coach-z are you still facing the issue? if yes can you post the code to gist.github.com and share link? email flow is very difficult

[2017-09-19 05:32] #73 closed

[2017-09-19 06:44] mebjas commented on #67
@abhij89 does this issue still exist?

[2017-09-19 11:20] Liwoj commented on #80
@mebjas Agree with yours pros\cons analysis. Solution no 2 seems superior in every way.
I suggest to use headers for all XHR POST requests (no logic testing content type etc needed) + on server side just try to read header 1st and if its not there, fallback to current implementation (reading from `$_POST` superglobal).
You are right about setting custom headers - only JS can do it....

[2017-09-20 19:36] mebjas commented on #80
yeah makes sense, will send out a new iteration.

[2017-09-23 23:49] mebjas commented on #80
@Liwoj - check this out if it works, https://github.com/mebjas/CSRF-Protector-PHP/commit/fb5c20818eff4a733dc332c9f668d5dedf202a68

[2017-10-05 20:51] mebjas commented on #87
@peterdutton - please check this https://github.com/mebjas/CSRF-Protector-PHP/pull/89

[2017-10-05 20:52] mebjas commented on #86
Please check if this: https://github.com/mebjas/CSRF-Protector-PHP/pull/89 shall help.
@tiger154

[2017-10-05 20:54] mebjas commented on #68
https://github.com/mebjas/CSRF-Protector-PHP/pull/78 closed, will send a new PR with corresponding changes.
References mentioned in the PR comment.

[2017-10-05 23:52] mebjas commented on #84
Marking as closed, due to lack of information.

[2017-10-05 23:52] #84 closed

[2017-10-05 23:53] mebjas commented on #81
Closing due to no response.

[2017-10-05 23:53] #81 closed

[2017-10-06 09:27] mebjas commented on #87
Marking as done.

[2017-10-06 09:27] #87 closed

[2017-10-06 09:27] mebjas commented on #86
Marking as done.

[2017-10-06 09:27] #86 closed

[2017-10-06 11:56] peterdutton commented on #87
Thanks for this @mebjas - much appreciated!

[2017-10-07 12:35] mebjas commented on #80
Marking as done.

[2017-10-07 12:36] #80 closed

[2017-10-27 07:33] abhij89 commented on #67
Yes, sorry for delayed response. It's still the same as explained above.

[2017-10-27 12:55] mebjas commented on #79
Closing due to lack of response

[2017-10-27 12:55] #79 closed

[2017-11-24 04:01] mebjas opened #90 "Create a version that works with stateless architecture implicitly"
There was a request at OWASP conference to support stateless architecture where servers could be behind a load balancer.

In such case a common session storage might not be available; There could be a simple implementation of CSRFP which work on `double submit cookie` pattern

https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet#Double_Submit_Cookie

[2018-01-16 19:42] tarrenj opened #92 "getTokenFromRequest unable to find token"
`getTokenFromRequest` isn't properly returning the token when submitted in the following request:

[code]

This was resolved by adding
[code]
To the `getTokenFromRequest` function.

[2018-02-02 01:31] elieobeid7 commented on #85
[code]

Installed through composer, latest version, the relative path is the one that's causing the problem.

[2018-02-02 10:36] elieobeid7 commented on #85
I fixed the problem, the readme said

But in fact we don't have to place it anywhere, we just have to rename it to config.php and leave it where it is. Then the config becomes like so

[code]
Maybe it's a typing mistake, maybe I misunderstood, in any case this is awesome library, thank you

[2018-02-02 10:36] #85 closed

[2018-02-02 12:23] elieobeid7 opened #93 "Delete .git folder from csrf-protector-php in composer"
When installing this library using composer, you'll see inside the folder `csrf-protector-php`, a `.git`

Please remove `.git` folder, because if you're trying to commit the project, it will keep saying

Here:

https://stackoverflow.com/a/5898123/1920003

Removing `.git` folder fixed my issue with git commit too

[2018-02-03 21:01] elieobeid7 opened #94 "403 Access Forbidden by CSRFProtector: when uploading files"
My webserver folder is `public_html` . The structure is the following:

- index.php  - holds the html, redirects to controller.php
- controller.php - handles the post request and take care of the uploads then redirects to index.php
- pictures folder, chmod 755
- CSRFProtector is included in all files, I use the default token `csrfp_token`

if I fill the form without uploading, everything is fine.

[2018-02-03 23:40] elieobeid7 commented on #40
@nilsteampassnet  Is there any chance that your issue is related to mine?

https://github.com/mebjas/CSRF-Protector-PHP/issues/94

[2018-02-06 05:28] mebjas commented on #93
Thanks for posting, will check and get back to you.

[2018-02-06 05:29] mebjas commented on #94
This error is coming up at `conroller.php` is it?

[2018-02-06 09:11] elieobeid7 commented on #94
That's true, only when uploading files, so if no files are selected, everything is fine.

[2018-02-10 15:43] elieobeid7 commented on #93
deleting `.git` fixed the issue above but now if i do `composer update` I get

It's the only composer i've ever seen that has `.git` folder included and it's the only package i've ever seen that relies on that folder for updates

[2018-02-17 08:08] mebjas commented on #90
Rather than creating a version add support with in the library

[2018-02-17 08:09] mebjas opened #98 "Create a *.github.io page for this project, showcasing features and pointers"
Some pointers
 - create a `owsap-csrfprotector.github.io` page
 - Add list of features
 - Add list of references or embed wiki, gists
 - Embed blogposts / tweets on this front
 - Add a link in description

[2018-02-17 08:25] mebjas opened #99 "Build issues in other branch"
While build is successful in master branch, it's failing in following branch;

 - `nojs-support`
 - `v0.2.0`
 - `IE-7-support`

[2018-02-24 11:06] elieobeid7 commented on #93
It seems that you deleted `.git` but you forgot to close the issue here. you could also delete `.gitignore` Thank you.

[2018-02-24 11:06] #93 closed

[2018-03-17 10:34] SkyWalker653 opened #100 "403 Access Forbidden by CSRFProtector!"
I want to integrate this library into my existing project. But before that I created a small demo project for this but I am getting "403 Access Forbidden by CSRFProtector!" error when ever I submitting a form.

You can find the demo project from below github url.
https://github.com/SkyWalker653/csrf-demo

Thank you

[2018-03-20 10:27] ignujee opened #102 "Failed to open stream using fopen(): Permission denied in creating log file: when running csrfpDefaultLogger.php line 68"
Hi

I tried the CSRF-Protector-PHP library in my project. Installed the library by copying the project to
the web-root of my PHP project hosted using xampp in Linux.
Using **PHP5 and MySQL5.**

But I get the following error when I run the project using xampp in my browser.
Will you please help in solving this problem.
I have set **775**  and **user:www-data** for the root folder of my php-project

[2018-03-20 19:05] mebjas commented on #102
Check if this helps

https://stackoverflow.com/questions/26203664/file-put-contents-failed-to-open-stream-permission-denied?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

Also, what is the default logging you use in your application? Latest release supports custom loggers so you can pass that as a parameter and let this library log via your default logger.

https://blog.

[2018-03-20 19:27] mebjas commented on #100
@SkyWalker653 This library injects a javascript code to `HTML` output which takes care of most of the work on client side.

For injecting HTML it relies on `</body>` tag generally present.

I added those in your project and things worked!

Also make sure the config file has `csrfp/libs/config.php` has correct value of `jsUrl` - I think it should be something like `http://localhost/csrf-demo/csrfp/

[2018-03-21 06:55] ignujee commented on #102
I changed the permission of my project folder to 777.
Now I get the error
403 Access Forbidden by CSRFProtector!
Checked the issue with this heading in github
I couldnt understand where to include the </body> tag as you have specified
in the forum.
I have correct jsURL entry in my config.php

[2018-03-21 08:32] ignujee commented on #102
`RewriteEngine on
# prevent httpd from serving dotfiles (.htaccess, .svn, .git, etc.)
RedirectMatch 403 /\..*$
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php

RewriteRule . index.php

Header always edit Set-Cookie (.*) "$1; HTTPOnly; Secure"

# To fix Missing "X-Content-Type-Options"
#

[2018-03-21 08:32] #102 closed

[2018-03-21 08:38] ignujee commented on #102
My .htaccess file is attached (For ease of uploading filename changed to htaccess.txt)
[htaccess.txt](https://github.com/mebjas/CSRF-Protector-PHP/files/1832470/htaccess.txt)
Is any settings specified in my ,.htaccess giving me this error?

[2018-03-21 08:50] ignujee commented on #100
In which file should I add `</body>` tag.

[2018-03-21 09:57] mebjas commented on #102
the page where you have included this library should be a proper HTML page with `<body>`, `</body>` tags available.

[2018-03-21 09:58] mebjas commented on #102
@ignujee - also please reopen this issue if it's not fixed or if you wish to follow up on this as a different issue start a new one.

Thanks

[2018-03-21 10:17] mebjas commented on #100
In case of @SkyWalker653 repo: https://github.com/SkyWalker653/csrf-demo/blob/master/test.php

So corresponding file in your case where you have included the script, the main file you are testing on.

[2018-05-27 02:31] navotera opened #103 "Try to test this on Codeigniter project"
i try to implement this on my CI project but alwas get those 403 error code.

here my setup.

1. I already install it on vendor
2. Put the <?php csrfProtector::init();?> on the master view of my project /view/layout_master
3. setup the jsURL **absolute path** it path is correct since i try to open it on browser

the problem i got are :
1. i never find any additional tag on my view:source on the br

[2018-05-30 21:29] mebjas commented on #103
@navotera Thanks for sharing ample detail around the issue;

[code]

The work is done by Javascript to attach data as request is sent.

Can you check your network toolbar in developer tools to validate the tokens are going with the request. Also can you tell more about the type of request that is failing if it's normal form submission or ajax call or some file upload or so?

[2018-05-30 23:56] navotera commented on #103
1. This is **normal (non-ajax) form POST** and not uploading form.
2. Why i cannot find any javascript embedded on my view. Seems like there's any <script> tag on my view that would stimulate this csrf method ?
2. this is another question. i Pentest my app with Netsparker, why netsparker say that csrf based session based is not recommended for security.. (sorry i cannot reproduce those recommendat

[2018-06-01 15:33] mebjas commented on #103
Can you test this with a very simple CI page and share the source generated with me?

[2018-06-26 10:28] kanapuliAthavan commented on #103
I have tested the same in the code igniter. For ajax calls, the tokens are not going along the request? I get 403 forbidden error as a response

[2018-06-29 09:07] mebjas commented on #103
Looking into it

[2018-09-25 11:34] ponna007 opened #105 "new_open function is getting called recursively"
In WordPress, before an ajax call, new_open function is getting called recursively resulting in RangeError: Maximum call stack size exceeded.
How to resolve this. Kindly help.

[2018-09-25 12:42] mebjas commented on #105
Thanks for reporting this issue. Ill look into this asap.

[2018-09-26 02:58] fatenhyde commented on #100
I want to integrate this library into my existing project. But I am getting "403 Access Forbidden by CSRFProtector!" error when I submit a form to another page.
1. login.php
2. login_handler.php (when I submit login.php which use to validate login.php form)

[2018-09-26 08:09] ponna007 commented on #105
Is there any way to send CSRF token for custom ajax requests

[2018-09-27 03:52] mebjas commented on #105
@ponna007 can you elaborate on what you mean by custom ajax request?

Ideally the library creates a wrapper on `open` and `send` method of `XMLHttpRequest` class which is used to make an AJAX call. Though I'll check - please give more details on how you are using it?

[2018-09-27 07:41] ponna007 commented on #105
Actually i have created my own custom plugin and using AJAX requests for some communication internally, after adding the csrfProtector::init() i noticed that the new_open function is getting called recursively resulting in **RangeError: Maximum call stack size exceeded**.

[2018-09-27 13:26] mebjas commented on #100
Can you share source of both somewhere @fatenhyde

[2018-09-27 13:27] mebjas commented on #100
@SkyWalker653 Since I haven't heard from you I'll mark this as completed

[2018-09-27 13:31] mebjas commented on #105
Is it possible that the script: `https://github.com/mebjas/CSRF-Protector-PHP/blob/master/js/csrfprotector.js` is getting included twice?

I'll make corresponding changes to ensure the script is only initialized once.

[2018-09-27 13:55] ponna007 commented on #105
Yes, i was including it twice.
Now i am just including the JS file once using wp_enqueue_script() function, but now the ajax requests are throwing 500 error.

[2018-09-28 11:41] mebjas commented on #105
what is the error message you are getting if any?

[2018-09-30 21:51] mebjas commented on #100
@fatenhyde
Did you do the configuration settings described here in [CSRF-Protector-PHP/readme.md](https://github.com/mebjas/CSRF-Protector-PHP/blob/master/readme.md)

[2018-10-01 01:50] comsuoncha commented on #81
i'm have the same issue, this cause by "Clear all older tokens assuming they have been consumed".
When open the second tab, the first tab will fail because old token has been remove

[2018-10-01 01:52] comsuoncha opened #106 "Issue on multiple tab processing at same time"
Same problem with https://github.com/mebjas/CSRF-Protector-PHP/issues/81
I have two tabs loading same page(with different form data) on browser.
The problem cause by "Clear all older tokens assuming they have been consumed".
When open the second tab, the first tab will fail because old token has been remove so all request from 1st tab will return 403 error.

[2018-10-01 03:18] fatenhyde commented on #100
https://github.com/fatenhyde/demo

Hi sorry for the late reply. this is the link
https://github.com/fatenhyde/demo
I'd already done the configuration settings.

[2018-10-01 17:08] mebjas commented on #100
So I tested the code in my environment. I had to change the port number in JS Url in the config and things worked for me.
![capture](https://user-images.githubusercontent.com/3007365/46303855-a8bfae00-c5ca-11e8-82a7-60c2552a30de.PNG)

Token was sent in the request and got a refreshed token in response code.

[2018-10-01 17:10] mebjas commented on #106
@comsuoncha the requests are concurrently going from both tabs?

[2018-10-01 17:11] comsuoncha commented on #106
@mebjas yes, the requests are going from both tabs

[2018-10-01 17:53] mebjas commented on #106
@comsuoncha Looking into it

[2018-10-02 07:56] mebjas commented on #106
Would it be possible to set up a sample web application you are using on
github? I’ll clone reproduce and push a fix.

On Tue, 2 Oct 2018 at 06:56, comsuoncha <notifications@github.com> wrote:

--

Kind Regards,
Minhaz
minhazav.xyz | Blog <http://blog.minhazav.xyz> | Projects
<http://github.com/mebjas> | LinkedIn <https://in.linkedin.com/in/minhazav>

[2018-10-02 08:09] comsuoncha commented on #106
@mebjas sure, i'll set up a sample, please wait, thank you.

[2018-10-03 14:06] fatenhyde commented on #100
So, if you get different response token from request token it will always display 403 error right? What if i just want to validate my input form after i check request token = response token?

[2018-10-08 13:19] mebjas commented on #100
@fatenhyde I didn't get your question. The way this library works is on per request token model.
For every request that gets validated a new token is generated and sent back with response and browser takes care of updating the value of cookies across the tabs.

If you want to check for token you receive you can do following at: `https://github.com/fatenhyde/demo/blob/master/login_handler.php#L4`

[2018-10-14 15:55] mebjas commented on #100
@fatenhyde did you try this out?

[2018-10-14 15:55] mebjas commented on #106
@comsuoncha any updates on this?

[2018-10-29 12:25] mkote opened #107 "Token not added to requests."
I am trying to integrate CSRFProtector into a SPA with JSON payloads for requests and responses. The json is generated by a Vue.js component and is consumed by a PHP backend.

However, since the payload sent to the SPA is purely JSON, the ob_handler method will never inject the csrfprotector.js since it looks for <HTML> tags, and the tokens are therefore never set properly in the request header. T

[2018-10-30 11:46] mebjas commented on #107
@mkote

The JSON payload must be sent from some HTML content running on the browser to the server. It's this HTML content that should have the token. Please include the library on the php script that generates this HTML. It'll ensure that the request sent has the token attached to it.

First of all attaching the JS code is not enough, as the token is generated by the PHP backend and sent as cookie

[2018-12-13 16:55] wonderboyjon commented on #99
I've made two pull requests that appear to fix the build issues. #108 and #109

[2018-12-14 09:34] mebjas commented on #99
Thanks a lot @wonderboyjon. Highly appreciate your contributions!

[2018-12-14 09:49] mebjas commented on #92
The token is not supposed to be retrieved from cookie but the POST payload itself or the request header.
The code resolution you have posted will make it **highly vulnerable** to CSRF attack.

CSRF works because the token always get attached with all ongoing request from a web page on client machine as a cookie. Please revert the change. If the token was not passed in the POST request in the reque

[2018-12-28 08:23] #107 closed, assigned to mebjas

[2019-01-11 06:04] kanapuliAthavan commented on #103
@mebjas  I just tested in code igniter again.  So I get a csrf token in the initial GET request when the page loads for the first time. My doubt is whether this same initial token will be attached to all XHR and form requests originating from the same page.  As far as I have observed, sometimes the same token is attached to the request and sometimes the csrf token is randomized. How does this happ

[2019-01-13 14:55] kanapuliAthavan commented on #103
@mebjas Any idea on why the above the jquery request fails?

[2019-01-15 10:21] mebjas commented on #103
@kanapuliAthavan can you post here the screenshot of this request sent from network debugger? I am interested in headers and the params sent. Feel free to mask any confidential data.

[2019-02-15 10:02] AjithKumar-Raj opened #110 "URL pass the token as a parameter"

[2019-02-18 12:30] #110 closed

[2019-03-12 00:13] blue-eyed-devil opened #111 "a question on ajax loaded forms"
I have a case where modal dialog with form is opened on button click. Form is loaded via ajax, as settings per item may vary. If I use csrf protector it opens main index.php inside modal instead of requested form. Is there any way how to deal with it?

[2019-04-18 06:04] mebjas commented on #58
@JimmyPruitt  @jarrodirwin - What is your opinion on this - https://github.com/mebjas/CSRF-Protector-PHP/pull/112

[2019-05-06 12:22] Priyanka-SB commented on #100
Hi Mebjas,
One of the php application which i am working on is csrf susceptible.I am trying to consume this master php library of yours. Can you please help me on this? Attached is the screenshot of the structure of my application.Where to add the php library? Do i have to create a folder csrf under www folder and add all the files which you have zipped?
I already have index.php in my application

[2019-05-14 18:30] mebjas commented on #100
@Priyanka-SB Apologies for delayed response. This is more of a closed thread.
Can you create a new issue for this if this issue still persists.

In general you can put it in library folder. You need to make sure the library is referenced in all required files. If you have some common file which is referenced by all - that’d be best place to have this.

More details - https://github.com/mebjas/CSRF

[2019-05-16 15:04] bhavinrshah opened #113 "Issue with Ajax POST calls on page loads"
JS Request:
    <script>
        $(document).ready(function(){
           // ajax call
          var postUrl  = 'getData.php';
          var items = [];
          var item = {
            strReleaseName      : 'test'
          };
          items.push(item);
          var sortorder = {
            items : items
          };
          $.ajax({
            type : 'POST',
            url : postUrl,

[2019-05-17 07:32] bhavinrshah commented on #113
@mebjas : Can you please look into this?

[2019-05-22 03:09] mebjas commented on #113
@bhavinrshah on it

[2019-05-22 10:45] mebjas commented on #113
So it looks to be related to this - https://github.com/mebjas/CSRF-Protector-PHP/pull/112

As a temp hack you could try making changes as suggested in this PR.

[2019-05-22 10:57] Priyanka-SB opened #114 "Hi Mebjas,"
Hi Mebjas,
One of the php application which i am working on is csrf susceptible.I am trying to consume this master php library of yours. Can you please help me on this? Attached is the screenshot of the structure of my application.Where to add the php library? Do i have to create a folder csrf under www folder and add all the files which you have zipped?
I already have index.php in my application

[2019-05-22 10:59] Priyanka-SB commented on #114
After library is referenced in all required files how do we test it to be csrf safe?

[2019-05-22 11:00] Priyanka-SB commented on #100
Thank you Mebjas. I have created a new issue for this.

[2019-05-22 11:02] Priyanka-SB commented on #114
How do we test it to be csrf safe after library is referenced in all required files?

[2019-05-22 14:24] bhavinrshah commented on #113
I tried but that is not working.
I have to replace `$(document).ready(function() {` to `$(window).bind('load', function() {` and it works. But still if it can be done through `csrfprotector.js` that would be great.

[2019-05-23 04:41] mebjas commented on #114
One quick check would be to see when requests (of different type - POST) are sent if they have token attached in the request. And if they are getting invalidated and refreshed after each succesful validation.

If you want to do a full test w.r.t your application you may want to write some integration test - and since CSRF exists due to property of browser, you may want to use selinium or some UI b

[2019-05-23 07:09] AjithKumar-Raj opened #115 "Need a folder structure for CSRFProtector"
Help me here @mebjas Can you tell me project folder structure for CSRFProtector in https://github.com/twilio/OpenVBX?

[2019-05-23 07:13] AjithKumar-Raj commented on #115
@mebjas What is the difference between [PHP library](https://github.com/mebjas/CSRF-Protector-PHP) and [Apache 2.x.x Module](https://github.com/mebjas/mod_csrfprotector)

[2019-05-23 12:09] mebjas commented on #114
As for the original question

[2019-05-23 12:16] mebjas commented on #113
Yes please make the required changes as dont in that PR in CSRF Protector code. Can you have the projec ton github? I'll send a PR to the same to test this scenario further.

@bhavinrshah

[2019-05-23 12:31] mebjas commented on #115
No they are two implementations of the same design. For a PHP application you need not use the apache module.

For the former question please check this: https://github.com/mebjas/CSRF-Protector-PHP/issues/114#issuecomment-495191431

[2019-05-28 07:11] srishti-chouksey opened #116 "Issue with multiple tabs with POST"

[2019-05-28 07:23] srishti-chouksey commented on #116
@mebjas, can you please have a look, thanks.

[2019-05-28 15:54] bhavinrshah commented on #113
@mebjas : Let me create a test project on github and let you know

[2019-05-29 08:10] bhavinrshah commented on #113
@mebjas : Here is link https://github.com/bhavinrshah/csrf_issue

[2019-05-29 09:33] Priyanka-SB commented on #114
Hi Mebjas,
Does this library takes care of csrf for POST request only or GET request also?(GET request also should be handled to be csrf safe if i am not wrong)

[2019-05-29 15:32] mebjas commented on #115
@AjithKumar-Raj Does this solve your question?

[2019-05-29 15:36] mebjas commented on #113
@bhavinrshah will setup the stack and check. Stay tuned.

[2019-05-29 15:38] mebjas commented on #114
Yes GET requests are supported. This wiki has details on that - https://github.com/mebjas/CSRF-Protector-PHP/wiki/verifyGetFor-rules

**However**
CSRF attacks are impactful in request where some actions are taken. Example: Profile Update, Password Change, Posting comment etc. In general it's recommended any system change uses `POST` or `PUT` verb supported by HTTP.

And in that sense I'd advice yo

[2019-05-30 13:26] Priyanka-SB commented on #114
Thank You Mebjas.
1) In PHP Application, we are submitting data through JSON AJAX request in javascript to WebAPI.
2)Save Button is in footer.html which is included in all php files. Can we use this PHP Library and Initialise CSRFGuard library in footer.html?
3)Save Button which is in footer.html will open a modal popup which in turn has a save button to save to a API.

[2019-05-31 20:52] mebjas commented on #115
Looking roughly at the code - you can include this library in `./index.php` (https://github.com/twilio/OpenVBX/blob/master/index.php) or in each controllers (https://github.com/twilio/OpenVBX/tree/master/OpenVBX/controllers)

[2019-05-31 20:54] mebjas commented on #114
No you cannot include this library in an `html` file. It has to be processed by php process. Also, this library has to be included on top. CSRF Protector library has dependency on session which needs to be called before any data is returned by the server.

[2019-05-31 20:55] mebjas commented on #114
You have to include this library in the beginning of php controllers.

[2019-06-04 06:16] bhavinrshah commented on #113
@mebjas: Do we have any update on this?

[2019-06-04 06:16] bhavinrshah commented on #116
@mebjas : Do we have any update on this?

[2019-06-11 09:53] Priyanka-SB commented on #114
Thank You Mebjas.Below are few more questions
This library generates a random token and stores in Session and validates these token against the values of the GET or POST request. But, In our application, we do not have the POST action performed on the form ,instead Save button click  will call modal Save popup and this pop up has a Save button which will submit data to the API.Attached the files f

[2019-06-14 07:50] srishti-chouksey commented on #116
@mebjas, did you get a chance to take a look at this?

[2019-07-21 10:34] mebjas commented on #116
I have setup a branch to reproduce this issue. If you have a setup online that can reproduce this issue, please point me to that. @srishti-chouksey @bhavinrshah

[2019-07-21 10:34] mebjas commented on #115
Marking as closed.

[2019-07-21 10:34] #115 closed

[2019-07-21 10:37] mebjas commented on #114
Yes, you'd need to add here as well. The library injects a Javascript code which creates an interceptor for all form submission be it normal form or AJAX. It ensures that just before the form submission - latest token is attached to the ongoing request.

[2019-07-21 10:37] #114 closed

[2019-07-21 10:46] mebjas commented on #113
There is a missing submit.php file to completely reproduce this demo. Can you add some mock submit.php so I can test end to end?
@bhavinrshah

[2019-09-13 10:17] ShazVM opened #118 "Error on form pages that submit to themselves - 403 Access Forbidden by CSRFProtector!"
Hi mebas,

I think I have tried everything to get to the bottom of this issue, but I am still struggling to find an answer.

I am integrating CSRF Protector into my php app and have come across a problem on any pages that contain a form that when submitted reloads the page. In my example I have an index,php page that contains a search box form (that submits to search.php) and a 'submit a post' for

[2019-09-13 17:42] ShazVM commented on #118
I managed to get to the bottom of the problem. The solution was to use the no js version of the library. I'm still not sure what the issue was, but its working now, so all's well that ends well I guess :-)

[2019-10-09 12:20] ShazVM commented on #58
I wrote this workaround (in csrfprotector.js) to ensure JQuery is always loaded before the csrf protector is initialized:

var waitForJQuery = setInterval(function () {
    if (typeof $ != 'undefined') {

 //

window.addEventListener("DOMContentLoaded", function() {
    csrfprotector_init();

}, false);

//
        clearInterval(waitForJQuery);
    }
}, 10);

I hope this helps.

[2019-10-13 08:45] ShazVM opened #119 "AJAX calls not returning a response cookie. No JS Version"
Hi

I managed to sort out a problem I was experiencing with $.ajax calls /pages not returning a response cookie and thought it might be useful to log it on here.

The solution was to simply manually add a link to csrfprotector.js at the top of my header file like so:

<script src="https://yourdomain.co.uk/js/csrfprotector.js"></script>

I hope this helps. :-)

[2019-10-13 16:52] #119 closed

[2019-11-14 10:58] bhavinrshah commented on #116
We don't have setup online. Have you checked the issue?

[2020-02-04 14:14] georgique opened #120 "Rename default header name to prevent being cut by web-servers"
Although RFC doesn't prohibit it, using underscores in header names is not common. And for example Nginx by default considers such headers as invalid unless underscore_in_headers param is set to "on".
I suggest to make default header name "CSRF-Token" so it looks more consistent with standard header names and doesn't cause troubles with web-servers.

[2020-02-06 11:01] mebjas commented on #120
Sounds good to me. Would you be interested in sending a PR with fix?

[2020-02-08 03:46] mebjas commented on #98
OWASP has migrated site to new jekyll based site and thus we have migrated to https://owasp.org/www-project-csrfprotector/

[2020-02-08 03:46] #98 closed

[2020-05-14 22:45] polishdeveloper commented on #120
Just highlighting that this is pretty important issue. Apache 2.4 also removes that header (http://httpd.apache.org/docs/trunk/env.html - see "Passing broken headers to CGI scripts" section)

[2020-05-15 14:56] #120 closed

[2020-05-15 14:57] mebjas commented on #120
Thanks for calling this out - @georgique and thanks for the fix @polishdeveloper

[2020-05-16 10:13] mebjas opened #124 "The CSRF Protector JS needs linting"
- lint the CSRF Protector JS Code
 - Make sure no functionality is broken

[2020-05-16 10:14] mebjas opened #125 "Add tests for JS Code"
JS Code needs unit / functional test

 - [ ] Choose framework
 - [ ] Add tests
 - [ ] Add support for CI

[2020-05-16 10:16] mebjas opened #126 "Create an end to end writeup on integrating CSRF Protector with a php project"
In this process share different error thrown and what they mean

[2020-05-16 10:16] mebjas commented on #126
- Add this to OWASP CSRF Protector Page

[2020-05-16 10:16] mebjas opened #127 "Default logger shouldn't be file based, it should use PHP's default error reporting."
Currently the default logger is based on file based logging. This results in permission error like

[code]

Use PHP default error logging as default logger's mechanism

[2020-05-20 07:32] thongtrinh2204 opened #128 "Deprecation warning"
How can i remove this warning meesage?
`Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience`
![image](https://user-images.githubusercontent.com/9380494/82417913-79fb9180-9aa6-11ea-9014-510c16096d3d.png)

[2020-05-22 16:36] mebjas commented on #128
Thanks for reporting I'll try to repro and fix thi.

[2020-05-22 19:44] boionfire81 opened #129 "Local sending to post error everytime"
**Describe the bug**
I followed the setup and how to use wiki guides. Used in a login page on a localhost (running wamp). Everytime I click submit it sends me to the post error page.

**To Reproduce**
Using wamp  -> setup per the wiki guides -> create a form -> initialize per the wiki guide -> attempt to submit form

**Expected behavior**
To process the form

** Error logs (Optional) **
message":"

[2020-05-23 09:45] mebjas commented on #129
Need more information, by any chance is your code Open Source?

[2020-05-23 10:16] #127 closed

[2020-05-23 10:47] mebjas commented on #128
So the reason you see this issue is because CSRF Protector javascript library adds an interceptor to all Ajax calls to attach a CSRF Token. **But it doesn't change the properties of the call - if the underlying ajax call (XMLHttpRequest) call was made without async = true - you'd get this warning.**

If it's set to true, then CSRF Protector will also set it to true - https://github.com/mebjas/CSRF

[2020-05-23 10:53] mebjas commented on #128
I am closing this as this is not a bug in library - but open to following up more on how to fix this issue from your side.

[2020-05-23 10:53] #128 closed

[2020-05-23 12:52] #124 closed

[2020-05-23 12:55] mebjas commented on #116
I have not been able to reproduce this yet. Is this still a problem?

[2020-05-23 16:42] boionfire81 commented on #129
Do you mind if I contact you through your email on your profile? The code is from a pay to use engine. I don't mind sharing but I also don't want to post it in the open.

[2020-05-24 06:13] mebjas commented on #129
Ok

[2020-05-26 01:39] thongtrinh2204 commented on #128
@mebjas thank you for pointing this out, I have some ajax calls with async = false in my application and now I know how to remove this warning,

[2020-05-27 02:53] mebjas commented on #128
No worries!

[2020-06-03 19:07] anonym2048 commented on #40
I have the same problem with file upload

[2020-06-16 19:15] davidh71 commented on #118
I'm experiencing the same problem. @mebjas : Is the no js the proper solution to this problem?

[2020-06-18 13:43] mebjas commented on #118
No, that may not be the best solution. Can you share more details about this?

[2020-06-18 14:52] davidh71 commented on #118
Hi @mebjas ,
In my situation I am using ajax to call the same url that I am on and I get a 403 response from the ajax call.  How will this attach itself to the ajax call ?  If you have any reference for using with ajax I can start there.

[2020-06-20 09:28] davidh71 commented on #118
Here's an example that illustrates this.
Can i get the token and insert it when i generate the ajax call in the html ?

[code]

[2020-06-20 10:41] davidh71 commented on #118
@mebjas - got it working by grabbing the session value that i set my config name to.   is using the last item in that array the proper thing?  Any problems with this approach??
[code]

[2020-06-24 22:14] sundayokoi opened #133 "Integration with Codeigniter"
How can I integrate the library with codeigniter, I followed the process, but it still returns 403 Access Forbidden by CSRFProtector!

[2020-06-27 05:08] mebjas commented on #118
@davidh71 your first code example seems to be working correctly for me, it's attaching the token correctly and sending the token and request is getting validated.

Can you check if the csrfprotector.js is included properly in your config.php? this javascript file is responsible for handling tokens in the client side. I do not recommend the approach you have shared as solution, its a hack and sort

[2020-06-27 05:09] mebjas commented on #133
is the project OSS, can you share more on how you did the integration?

[2020-06-27 05:09] mebjas commented on #129
Closing this topic here.

[2020-06-27 05:09] #129 closed

[2020-06-27 08:53] davidh71 commented on #118
thanks @mebjas
Downloaded the latest and confirmed that the js is included... still not working.
chrome showing js loaded and the test.php ajax call failing on 403
![Screenshot from 2020-06-27 04-44-21](https://user-images.githubusercontent.com/2146176/85918497-4e9c5d00-b831-11ea-975c-02e8ca81e715.png)

[2020-07-02 01:44] davidh71 commented on #118
@mebjas I thought this might have to do with #51 and a jquery load problem, so i reworked the php script as below.
The call is still blocked.  I see the request header has the token in it in the post.
Let me know if you have any suggestions.

[code]

[2020-07-05 07:16] mebjas commented on #118
This is a bit off, can you share again the version of `PHP` and the OS?

Also I modified php part of your script a bit to get the whole flow working (It was not giving 403 without it either though).

[code]

[2020-07-05 11:30] davidh71 commented on #118
Thanks for your continued help.  Updated script with your suggestion and it still returns 403.
It works locally, but not on the server described below.
Are there any ini settings this depends upon?

PHP Version 7.3.19
Apache 2.4.43
CentOS Linux
VERSION="7 (Core)"

[2020-07-05 12:02] mebjas commented on #118
I'd recommend debugging the library script in this case. I am not sure under what condition should the same thing work for me and not for you.

You can try putting editing https://github.com/mebjas/CSRF-Protector-PHP/blob/master/libs/csrf/csrfprotector.php#L226 in your local setup to see why the authorization is failing. The logic there is not too complicated and you might be able to debug by usin

[2020-07-07 21:07] davidh71 commented on #118
Thanks, that helped point me in the right direction.
It seems that the headers are being stripped somewhere.
I added a special condition to .htaccess file, but i'm not sure why they are being stripped in the first place!
So It's working now!  thank you.

Final question - is there a way to disable logging in the config ?

[2020-07-09 12:22] mebjas commented on #118
Glad it helped

you can pass a custom logger which doesn't do anything. Is there a reason not to log error cases?

Link to `LoggerInterface` - https://github.com/mebjas/CSRF-Protector-PHP/blob/master/libs/csrf/LoggerInterface.php

you can do something like
[code]

[2020-07-12 18:41] davidh71 opened #134 "IE11 Compatibility?"
Hi,
Running in ie11 I get script errors because of the backticks in the regex.
Is this known issue?

Thanks

[2020-07-23 21:03] RobTables opened #135 "Documentation - PHP Version"
I was not able to find a minimum required PHP version in the documentation. I apologize if I just missed it.

[2020-07-23 21:16] RobTables commented on #134
I am new to this library and have not contributed but I feel like you may find it hard to those who do contribute to work on support for IE

[2020-07-25 07:34] #118 closed

[2020-08-09 08:27] mebjas commented on #135
Thanks for raising this - added information in wiki - https://github.com/mebjas/CSRF-Protector-PHP/wiki#min-php-version

Min version is version 5.4

[2020-08-09 08:29] mebjas commented on #135
Added a badge in README as well - https://github.com/mebjas/CSRF-Protector-PHP

Thanks for calling out.

[2020-08-09 08:29] #135 closed

[2020-08-09 08:30] mebjas commented on #134
Can you share the error message?

I do not have an IE11 setup with me but can try to resolve the issue, if you can help with validation.

[2020-09-18 20:32] RobTables opened #136 "AJAX Requests Trigger CSRFP"
**Describe the bug**
I have not been able to get an AJAX Post request to authenticate. Non AJAX still seem to be okay.

Below is some code to test with. I also got the values from my cookie and session:

**Cookie**
[csrfp_token] => 64f5c93dcf

**Session**
[csrfp_token] => 64f5c93dcf

**File 1**

[code]

**File 2**

[code]

[2020-09-18 20:43] RobTables commented on #136
decided to print_r() __COOKIE, __SESSION, & __POST

Array
(
    [csrfp_token] => 64f5c93dcf
)
 Array
(
    [csrfp_token] => 64f5c93dcf

)
 Array
(
    [data] => test
)

[2020-09-18 20:50] RobTables commented on #136
Possible location of bug. Seems to be checking for a __POST token which there is not one set.

	public static function authorisePost()
	{
		//#todo this method is valid for same origin request only,
		//enable it for cross origin also sometime
		//for cross origin the functionality is different
		if ($_SERVER['REQUEST_METHOD'] === 'POST') {

			//set request type to POST
			self::$requestType = "P

[2020-09-18 20:56] RobTables commented on #136
Update altering the $_POST to $_COOKIE here returned a successful result.

			if (
					!(
						isset($_COOKIE[self::$config['CSRFP_TOKEN']])
						&& isset($_SESSION[self::$config['CSRFP_TOKEN']])
						&& ($_COOKIE[self::$config['CSRFP_TOKEN']] === $_SESSION[self::$config['CSRFP_TOKEN']])
					)
				) {

				//action in case of failed validation
				self::failedValidationAction();
			}

[2020-09-18 21:02] RobTables commented on #136
The file I downloaded is different from the one in master. Closing this for a closer look. I just downloaded this version today.

[2020-09-18 21:02] #136 closed

[2020-09-18 21:09] RobTables opened #137 "Important Links in Wiki point to v 0.1.0 Downloads"
Important links in wiki point to older version

[code]

[2020-09-18 21:10] RobTables commented on #136
Issue was an out of date link

[code]

[2020-09-18 21:16] RobTables commented on #137
Updated the Master Version Link, others likely need adjustment.

[2020-09-20 04:15] mebjas commented on #137
@RobTables Can you elaborate the request here?

It looks like the first link is pointed to latest version and as for the `noJs` version it's also pointing to an earlier version, but this one is not under development since, given the lack of usage of noJs version. I'll probably remove that from the links.

[2020-09-27 19:45] #137 closed

[2020-10-07 10:13] thatwill commented on #134
I also ran into this issue. (I wish I didn't have to support IE11, but it still ships with Windows 10!)

IE gives some errors for the `csrfprotector.js` file in the debugging console.
The initial error is:

This refers to a line of code which contains a regex, presumably the same as @davidh71 found. IE stops execution of the JS at this point, so the token is not sent with POST requests.

Looking a

[2020-11-06 14:58] StotoV opened #139 "CSRF token not attached to request upon JQuery form submit"
**Describe the bug**
I have a form which is submitted with the JQuery ```$('#form').submit()``` with a target on a different page. When submitting I get a '403 Access Forbidden by CSRFProtector!' error. After debugging a bit I found that no tokens are being send in the header of the request (but they are send in the cookie). This is caused by the csrfprotector.js not intercepting the submit event

[2020-12-03 19:39] zanzara opened #140 "Initial access to web-page leads to 403"
I don't if it is a bug in my client code or this behaviour is by design.

When I call my page in a "fresh" browser (all browser data and cache cleared before), I get on my first XHR (POST)
this msg of hell:  "OWASP CSRF PROTECTOR VALIDATION FAILURE"
which leads to a 403 in the end.

The next XHR's then work I can observe that CSRF_TOKEN Cookie is set.

The strange thing is, that even for that , I

[2020-12-08 12:24] knopkem commented on #140
I suspect that the issue comes from a race condition between your XHR request (on page load?) and the csrf library trying to initialize. One quick way to find this out is to delay your POST request (using a timer of 1s to be sure).
Guess it's similar to #113

[2020-12-08 13:12] zanzara commented on #140
Thanks for your reply.
But i don't understand quite your delay proposal.
I load the page until it gets to login.  Then the very first XHR is a POST when user submits login data with OK-Button
Where should be exactly  the delay?   After self:authorizePost() ?

Sry, if i didn't understood you well here.

[2020-12-08 13:27] knopkem commented on #140
In this case, my assumption was wrong. I thought you would auto trigger a XHR post request when the DOM was loaded (which then might create an issue with csrf). But in your case you have the issue even when manually triggering the first POST via the login form (which is correct workflow wise). So no delay will help here, sorry. The issue is not related and must be something else.

[2020-12-23 15:58] molnargabor opened #141 "PUT and DELETE requests, where urls are in verifyGetFor"
Hi all!

I implenemted this outstanding protector in my old AngularJS project, where the requests are mainly ajax requests. Everything is fine, but I always get back 403 Forbidden error when I try to call the URL, set in verifyGetFor array. Even though the token is sent in header and cookie as well.

Has anyone faced the same problem?

Thank you!

[2020-12-24 16:13] geemytrimz commented on #140
please how to do that

[2021-01-11 01:46] emreakdas opened #142 "csrfprotector.js Subdomain and Localhost Problem"
Subdomain also not working?

"Uncaught TypeError: Cannot read property 'value' of null" csrfprotector.js: 147

I'm getting the error.

[2021-01-11 01:51] emreakdas commented on #142
sorry the problem was working with one of my js files :( :D

[2021-01-11 01:51] #142 closed, assigned to nobody

[2021-03-12 10:53] volkan64 commented on #118
Hi,

how do you solve it?
I have the same problem. Locally its working but prod not. What did you add into the .htaccess?

Thanks in advance.

[2021-04-05 17:36] thecombo opened #144 "Doesn't work with lemp and cloudflare in ubuntu"
I am trying to configure this project.

it works on my local pc but it doesn't work on my server.
return "403 Access Forbidden by CSRFProtector!".

I am using ubuntu and stack lemp with cloucflare.

[2021-05-06 16:02] xkpx64 opened #145 "How to implement in forms?"
I didn't see anywhere how to implement this only in forms ? I read the whole doc And check the src
found this ob_handler but this only rewrite body to add noscript and in bottom 2 hiddenfields?

[code]

[2021-05-07 10:00] xkpx64 commented on #145
Also why there isn't option for SameSite lax/strict setup in cookie

[2021-05-07 10:57] xkpx64 commented on #145
For everyone who want samesame in cookie settings and httponly
in csfrpCookieConfig.php add
[code]
and in csfrpprotector.php find setcookie

[code]

Now in config.php you can add this two fields in cookieConfig array
[code]

[2021-05-10 07:34] xkpx64 opened #146 "PHP Warning: Undefined array key "HTTP_HOST""
![123](https://user-images.githubusercontent.com/5773378/117622324-339db780-b17b-11eb-9c2c-614c92cd9417.PNG)

csfrprotector.php -> getCurrentUrl()
line 590 : ``` return $request_scheme . '://' . $_SERVER['HTTP_HOST'] . $_SERVER['PHP_SELF']; ```

Tested on
Apache/2.4.46 (Win64)
PHP version: 8.0.3

[2021-06-29 16:06] CDanilo25 opened #147 "Can't retrieve token with extensions that works after a POST request"
**Describe the bug**
Certain Chrome Extensions (I only found LastPass) conflict with this Plugin at POST. The Token is not set as a POST value, so the Token verification always fails. By disabling LastPass, the Token verification is successful. Because LastPass changes the page after a login request, this issue happens during a login phase.

**To Reproduce**
- Install and enable LastPass from the

[2021-07-07 17:18] dcarbunescu opened #149 "how to use with HttpOnly:true cookie"
**Describe the bug**
csrfprotector javascript code fails to get the csrf token from the cookie because it is httponly:true, cannot use it.  should we recommend that the field httponly be set to false?

**To Reproduce**

**Expected behavior**
csrfprotector javascript code should be able to extract cookie token, i think.

**Additional context**
 - PHP Version (example: php 5.6)
 - Framework, if appl

[2021-09-03 16:11] g7sim opened #150 "Automatic Token"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-03 16:13] g7sim commented on #150
At the moment - in config.php : array -> CSRFP_TOKEN: '' name of the csrf token as it will appear in COOKIE, SESSION, GET or POST
I would be simpler and safer to generate a random token by the server so that the token is not always the same.
In config.php stands in test -> $cscfg = array(
    "CSRFP_TOKEN" => "CSRFP-Token",
	How can i change this value to bin2hex(random_bytes(10))  ?
Can You give

[2021-12-04 16:46] mohitvf opened #151 "Library Not Working in the ROOT directory of cpanel"
This library is not working when i put my project directly in the root directory.

Root Directory(public_html) -  Not working in this scenario

		csrf-lib(Library in root directory)
		file1->project file direct in root directory
		file2->project file direct in root directory
		file3->project file direct in root directory
 Error :
    1   .Generate null token in Get parameter  ( mydomain.com?csrf_t

[2021-12-04 17:07] mohitvf commented on #151
Getting authentication failed json response.

[2022-03-31 05:45] akashmmcode commented on #145
can someone help me with a guide on how to implement it in forms?